<div class="userCard">
  <div class="head">
    <p>Dein Profil Bearbeiten</p>
    <div class="black-to-blue-btn">
      <img src="./../../assets/img/userProfileImg/close.svg" />
    </div>
  </div>
  <div class="profileImg">
    <img class="#" src="../../assets/img/userProfileImg/Sofia Müller.png" />
  </div>
  <div class="inputContainer">
  <div class="emailContainer">
    <div class="email">
      <img src="../../assets/img/userProfileImg/account_circle.png" />
      <p>Vollständiger Name</p>
      <input type="" placeholder="your name">
    </div>
  </div>
  <div class="emailContainer">
    <div class="email">
      <img src="../../assets/img/userProfileImg/mail.png" />
      <p>E-Mail-Adresse</p>
      <input type="" placeholder="your name">

    </div>
  </div>
</div>
</div>
