@import "../login/login.component.scss";
@import "../sign-up/sign-up.component.scss";

.content-wrapper .content-main {
    gap: 22px;
    h1 .back-btn-container {
        left: -28px;
    }
}

span,
p {
    font-size: 20px;
}

.avatar-selection-container {
    width: 184px;
    height: 184px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition(75ms);
    cursor: pointer;
    .avatar-selection {
        width: 168px;
        height: 168px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;      
    }
    &:hover {
        background: $grey-light;
    }
    &:active {
        background: $violet-bright;
    }
}

.form-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .avatar-picker {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 4px;
        margin-top: 16px;
        margin-bottom: 30px;
        .avatar-container {
            width: 72px;
            height: 72px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            @include transition(75ms);
            img {
                width: 64px;
                height: 64px;
                border-radius: 50%;
            }
            &:hover {
                background: $grey-light;
            }
            &:active {
                background: $violet-bright;
            }
        }
    }
    .upload-avatar-container {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-bottom: 24px;
    }
}
