@import "../auth.component.scss";
@import "../sign-up/sign-up.component.scss";

.content-wrapper .content-main {
    gap: 22px;
    h1 .back-btn-container {
        left: -28px;
    }
    @media screen and (max-width: 640px) {
        gap: 0;
        h1 .back-btn-container {
            left: 0;
        }
    }
}

span,
p {
    font-size: 20px;
    @media screen and (max-width: 640px) {
        font-size: 18px;
    }
    @media screen and (max-width: 408px) {
        font-size: 17px;
    }
}

.avatar-selection-container {
    width: 184px;
    height: 184px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition(75ms);
    cursor: pointer;
    .avatar-selection {
        width: 168px;
        height: 168px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }
    &:hover {
        background: $grey-light;
    }
    &:active {
        background: $violet-bright;
    }
    @media screen and (max-width: 640px) {
        width: 132px;
        height: 132px;
        .avatar-selection {
            width: 120px;
            height: 120px;
        }
    }
}

.form-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .avatar-picker {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 4px;
        margin-top: 16px;
        margin-bottom: 30px;
        .avatar-container {
            width: 72px;
            height: 72px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            @include transition(75ms);
            img {
                width: 64px;
                height: 64px;
                border-radius: 50%;
            }
            &:hover {
                background: $grey-light;
            }
            &:active {
                background: $violet-bright;
            }
        }
        @media screen and (max-width: 640px) {
            padding: 0 4%;
            .avatar-container {
                width: 64px;
                height: 64px;
                img {
                    width: 56px;
                    height: 56px;
                }
            }
        }
        @media screen and (max-width: 480px) {
            padding: 0;
            .avatar-container {
                width: 60px;
                height: 60px;
                img {
                    width: 54px;
                    height: 54px;
                }
                @media screen and (max-width: 408px) {
                    width: 50px;
                    height: 50px;
                    img {
                        width: 46px;
                        height: 46px;
                    }
                }
            }
        }
    }
    .upload-avatar-container {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-bottom: 24px;
        position: relative;
        .form-btn-secondary {
            min-width: 189px;
            @media screen and (max-width: 408px) {
                min-width: 154px;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}

@media screen and (max-width: 408px) {
    .form-btn {
        font-size: 17px;
    }
}