<div class="content-wrapper">
    <form class="content-main content-card" #pickAvatarForm="ngForm" (ngSubmit)="onSubmit(pickAvatarForm)">
        <h1>
            Wähle deinen Avatar
            <div class="back-btn-container">
                <a routerLink="/auth" class="black-to-blue-btn">
                    <img src="assets/img/icons/go_back_arrow.svg" alt="go back">
                </a>
            </div>
        </h1>
        <div class="avatar-selection-container" (click)="unselectAvatar()">
            <img [src]="userData.avatarSrc" alt="blank profile picture" class="avatar-selection">
        </div>
        <section class="form-bottom">
            <h2>{{userData.name}}</h2>
            <p>Aus der Liste wählen</p>
            <div class="avatar-picker">
                @for (i of ['00','01','02','03','04','05']; track i)
                {<div class="avatar-container" (click)="selectDefaultAvatar(i)">
                    <img src="assets/img/avatar/avatar_{{i}}.svg" alt="Avatar {{i}}">
                </div>}
            </div>
            <div class="upload-avatar-container">
                <span>eigenes Bild verwenden</span>
                <input type="file" #fileInput name="fileInput" style="display: none" ngModel (change)="onCustomSelection($event)"
                    accept="image/*">
                <button type="button" class="form-btn-secondary" (click)="fileInput.click()">Datei hochladen</button>
            </div>
            <div class="submit-btns">
                <button type="submit" class="form-btn-primary">Weiter</button>
            </div>
        </section>
    </form>
    <img src="assets/img/logo_name.svg" alt="DABubble" class="logo">
    <app-legal-footer></app-legal-footer>
</div>