@import '../auth.component.scss';

.create-account-hint {
    position: absolute;
    right: 75px;
    top: 75px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;

    p {
        font-size: 18px;
    }

    a {
        position: relative;
        width: 162px;
        right: -18px;
    }

    @media screen and (max-width: 1024px) {
        left: 0;
        right: 0;
        top: auto;
        bottom: 80px;
        align-items: center;
        gap: 0;
        a {
            right: 0;
        }
    }
}