.content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .content-main {
        width: 606px;
        padding: 56px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        box-shadow: 0px 2px 10px 0px #00000014;
        h1 {
            color: #444df2;
            font-size: 46px;
            font-weight: 700;
            width: 100%;
            text-align: center;
            position: relative;
            .back-btn-container {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                display: flex;
                align-items: center;
                .black-to-blue-btn {
                    width: 40px;
                    height: 40px;
                }
            }
        }
        h2 {
            width: 100%;
            text-align: center;
            font-size: 32px;
            margin-bottom: 12px;
        }
    }
}

.advice {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.form-field {
    border: none;
    outline: none;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    padding: 18px 32px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 6px;
    cursor: text;
    img {
        width: 24px;
        height: 24px;
    }
    input {
        flex: 1;
        font-size: 18px;
        font-weight: 500;
    }
}

.or-seperator-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    hr {
        flex: 1;
        border: none;
        height: 1px;
    }
}

.google-btn {
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    border-color: #ADB0D9;
    img {
        width: 38px;
        height: 38px;
    }
    span {
        width: 184px;
        color: #444DF2;
        font-size: 18px;
        font-weight: 400;
    }
    &:hover {
        border-style: solid;
        border-width: 1px;
        box-shadow: 0px 2px 6px 0px #00000014;
    }
}

.submit-btns {
    display: flex;
    gap: 30px;
}

.logo {
    position: absolute;
    left: 75px;
    top: 75px;
    width: 242px;
    height: 70px;
    cursor: pointer;
}

.create-account-hint {
    position: absolute;
    right: 75px;
    top: 75px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    p {
        font-size: 18px;
    }
    a {
        position: relative;
        width: 157px;
        right: -16px;
    }
}

app-legal-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    display: flex;
    justify-content: center;
}
