<div class="content-wrapper">
    <form class="content-main content-card" (ngSubmit)="onSubmit(logInForm)" #logInForm="ngForm"
        (change)="resetAuthError()">
        <h1>Anmeldung</h1>
        <p class="advice">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>
        <div class="form-field bg-violet">
            <img src="assets/img/icons/mail.svg" alt="E-Mail" [ngClass]="{'to-black': userData.email}">
            <input type="email" placeholder="beispielname@email.com" [(ngModel)]="userData.email" name="email"
                #email="ngModel" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
            @if((email.touched || logInForm.submitted) && !email.valid)
            {<p class="error-msg">
                Diese E-Mail-Adresse ist leider ungültig.
            </p>}
        </div>
        <div class="form-field bg-violet">
            <img src="assets/img/icons/lock.svg" alt="Password" [ngClass]="{'to-black': userData.password}">
            <input type="password" placeholder="Passwort" [(ngModel)]="userData.password" name="password"
                #password="ngModel" required>
            @if((password.touched || logInForm.submitted) && !password.valid)
            {<p class="error-msg">
                Bitte geben Sie ein Passwort ein.
            </p>}
            @else if(logInForm.submitted && authError)
            {<p class="error-msg">{{authError}}</p>}
        </div>
        <a routerLink="/auth/requestPwReset" class="link-purple-bg">Passwort vergessen?</a>
        <div class="or-seperator-container">
            <hr class="or-separator bg-purple-light">
            <span>ODER</span>
            <hr class="or-separator bg-purple-light">
        </div>
        <button class="form-field google-btn bg-violet" type="button" (click)="logInWithGoogle()" [disabled]="loading">
            <img src="assets/img/icons/google_logo.svg" alt="Google">
            <span>Anmelden mit Google</span>
        </button>
        <div class="submit-btns">
            <button type="submit" class="form-btn-primary" [disabled]="loading">Anmelden</button>
            <button type="button" class="form-btn-secondary" (click)="logInAsGuest()"
                [disabled]="loading">Gäste-Login</button>
        </div>
    </form>
    <div class="create-account-hint">
        <p>Neu bei DABubble?</p>
        <a routerLink="/auth/signUp" class="link-purple-border">Konto erstellen</a>
    </div>
    <app-toast-notification [message]="'login'" [showing]="showToast" (then)="afterToast()" />
</div>