<div class="content-wrapper">
    <form class="content-main content-card">
        <h1>Anmeldung</h1>
        <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>
        <div class="form-field bg-violet">
            <button type="button">
                <img src="../../../assets/img/icons/mail.svg" alt="E-Mail">
            </button>
            <input type="email" placeholder="beispielname@email.com">
        </div>
        <div class="form-field bg-violet">
            <button type="button">
                <img src="../../../assets/img/icons/lock.svg" alt="Password">
            </button>
            <input type="password" placeholder="Passwort">
        </div>
        <a href="">Passwort vergessen?</a>
        <div class="or-seperator-container">
            <hr class="or-separator bg-purple-light">
            <span>ODER</span>
            <hr class="or-separator bg-purple-light">
        </div>
        <button class="form-field google-btn bg-violet" type="button">Anmelden mit Google</button>
        <div class="submit-btns">
            <button type="submit" class="form-btn-primary">Anmelden</button>
            <button type="button" class="form-btn-secondary">Gäste-Login</button>
        </div>
    </form>
</div>