@import '../../../styles.scss';

$active: #92c83e;
$idle: #c8c82e;

.dot {
    content: '';
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: $active;
    border: 2px solid $violet-bright;
    border-radius: 50%;

    &.active {
        background-color: $active;
    }

    &.idle {
        background-color: $idle;
    }

    &.loggedOut {
        background-color: $grey;
    }
}