<div class="content-wrapper">
    <img src="assets/img/logo_name.svg" alt="DABubble" class="logo">
    <div class="content-main content-card">
        <a (click)="historyBack()" class="goback black-to-blue-btn"><img src="assets/img/icons/go_back_arrow.svg" alt="go back"></a>
        <div class="content-section">
            <h1>Impressum</h1>
            <p>
                Bengt Früchtenicht <br> Dennis Bilowodskyj <br>
                Velizar Ganchev <br> Alexander Leitermann
            </p>
            <p>
                Grünwalder Str. 69A <br>
                81547 München
            </p>
        </div>
        <div class="content-section">
            <h2>Kontakt</h2>
            <p>E-Mail: kontakt&commat;leitermann.online</p>
        </div>
        
    </div>
</div>
