<div class="exp-btn-container">
    <div class="btn-container">
        <button (click)="toggleMenu()">
            <span class="material-icons-outlined icon" [class.rotated]="isRotated">arrow_drop_down</span>
            <div class="channel-title-box">
                <span class="material-icons-outlined icon">{{ icon() }}</span>
                <span class="channel-title">{{ title() }}</span>
            </div>
        </button>
        <button *ngIf="instance() == 'channels'" (click)="onAddChannelClick()" class="cross-btn">
            <span class="material-icons-outlined add-icon">add</span>
        </button>
    </div>

    <div *ngIf="isMenuExpanded" class="menu">
        @if(loading) {
        <div class="loading-container">
            <app-loading-circle />
        </div>
        } @else {
        <div *ngIf="instance() == 'channels'" class="channel-menu">
            <ul>
                @for (channel of userChannels; track channel) {<li>
                    <a (click)="mobileViewService.setMobileView('mainchat')" class="list-item-content" title="{{channel.name}}"
                        [routerLink]="['/main-chat', channel.channel_id]">
                        <p class="list-item-text">
                            <img src="/assets/img/icons/tag.svg"><span>{{channel.name}}</span>
                        </p>
                    </a>
                </li>}
            </ul>
            <button (click)="onAddChannelClick()" class="add-channel">
                <span class="material-icons-outlined add-circle-icon">add_circle_outline</span>
                <span>Channel hinzufügen</span>
            </button>
        </div>
        <div *ngIf="instance() == 'users'" class="messages-menu">
            <ul>
                @for (user of users; track $index; let first = $first) {
                <li>
                    <a (click)="mobileViewService.setMobileView('mainchat')" [attr.title]="first ? user.name + ' (Du)' : user.name"
                        (click)="onUserClick(user)">
                        <div class="visible-part">
                            <div class="message-img-container">
                                <img src="{{user.avatarSrc}}">
                                <app-activity-state-dot [user]="user" />
                            </div>
                            <span>{{ user.name }} @if(first) {(Du)}</span>
                        </div>
                    </a>
                </li>
                }
            </ul>
        </div>
        }
    </div>
</div>