<div class="exp-btn-container">
    <div class="btn-container">
        <button (click)="toggleMenu()">
            <span class="material-icons-outlined icon">arrow_drop_down</span>
            <!-- <span class="material-icons-outlined icon">arrow_right</span> -->
            <div class="channel-title">
                <span class="material-icons-outlined icon">{{ icon() }}</span>
                {{ title() }}
            </div>
        </button>
        <button *ngIf="showBtn()" (click)="onAddChannelClick()" class="cross-btn">
            <span class="material-icons-outlined add-icon">add</span>
        </button>
    </div>

    <div *ngIf="isMenuExpanded" class="menu">
        <div *ngIf="showBtn()" class="channel-menu">
            <ul>
                @for (channel of userChannels; track channel) {<li>
                    <a [routerLink]="['/main-chat', channel.channel_id]">
                        <span>#</span> {{channel.name}}
                    </a>
                </li>}
            </ul>
            <button (click)="onAddChannelClick()" class="add-channel">
                <span class="material-icons-outlined add-circle-icon">add_circle_outline</span>
                <span>Channel hinzufügen</span>
            </button>
        </div>
        <div *ngIf="!showBtn()" class="messages-menu">
            <ul>
                @for (user of users; track $index) {
                <li>
                    <a [routerLink]="['/direct-message', user.uid]" (click)="onUserClick(user)">
                        <div class="message-img-container">
                            <img src="{{user.avatarSrc}}" alt="{{user.name}}">
                            <span [ngStyle]="online ? {background: '#92c83e'} : {background: '#686868'}"
                                class="on-off-line-sign"></span>
                        </div>
                        <span>{{ user.name }}</span>
                    </a>
                </li>
            }        
            
            <a routerLink="/new" >
                <div class="new-message-icon">
                    <img src="../../../assets/img/icons/new_message.svg">
                </div>
                </a>
            </ul>
        </div>
    </div>
</div>