@import "../../../styles.scss";

:host {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-height: 350px;

  .exp-btn-container {
    max-height: 300px;

    .btn-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        padding: 5px 10px;

        .icon {
          font-size: 30px;
        }

        .channel-title {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 20px;
          font-weight: 700;
          line-height: 27.28px;
        }

        .add-icon {
          padding: 3px;
        }

        &:hover {
          color: $purple-blue-bright;

          .add-icon {
            background-color: $violet-bright;
            border-radius: 15px;
          }
        }
      }
    }

    .menu {
      height: 100%;


      .channel-menu {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;

        ul {
          list-style-type: none;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 25px;
          padding: 25px 0 0 0;
          overflow-y: auto;
          @include scrollbar();

          li {
            padding: 4px 20px;
            border-radius: 30px;

            a {
              text-decoration: none;
              font-size: 18px;
              font-weight: 700;
              line-height: 24.55px;
              color: inherit;

              span {
                font-size: 24px;
              }
            }

            &:hover {
              color: $purple-blue-bright;
              background-color: $violet-bright;
            }
          }
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          font-size: 18px;
          font-weight: 400;
          line-height: 24.5px;
          padding-left: 17px;

          .add-circle-icon {
            transition: transform 0.2s ease-in-out;
          }

          &:hover {
            color: $purple-blue-bright;

            .add-circle-icon {
              transform: scale(1.1);
            }
          }
        }
      }

      .messages-menu {
        height: 100%;
        overflow-y: auto;

        &::-webkit-scrollbar {
          display: none;
        }

        ul {
          height: 100%;
          list-style-type: none;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 25px;
          padding: 0;

          li {
            padding: 4px 20px;
            border-radius: 35px;

            a {
              display: flex;
              align-items: center;
              gap: 15px;
              text-decoration: none;
              font-size: 18px;
              font-weight: 400;
              line-height: 24.55px;
              color: inherit;

              .message-img-container {
                position: relative;

                img {
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                }

                .on-off-line-sign {
                  position: absolute;
                  top: 40px;
                  left: 35px;
                  width: 14px;
                  height: 14px;
                  // background-color: $onlinedot-online;
                  border: 2px solid white;
                  border-radius: 100%;
                }
              }
            }

            &:hover {
              color: $purple-blue-bright;
              background-color: $violet-bright;
            }
          }
        }


      }
    }
  }

  .new-message-icon {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .cross-btn span {
    color: rgba(83, 90, 241, 1);
  }

  .add-channel {
    color: rgba(83, 90, 241, 1);
  }

  .messages-menu ul {
    margin-left: 36px;
    margin-top: 30px;
  }

  .exp-btn-container {
    max-height: unset !important;
  }

  .new-message-icon {
    display: block !important;
    position: absolute;
    right: 16px;
    top: 815px;
  }

}