<div class="mobile-wrapper">
  @if(!onInvalidOrForbiddenRoute) {
  <section class="direct-m-container">
    <div class="direct-m-header">
      <div class="header-img-container">
        <div class="hoverImgContainer" *ngIf="recipient" (click)="openUserProfile(recipient)">
          <img [src]="recipient.avatarSrc" [alt]="recipient.name" />
          <app-activity-state-dot *ngIf="recipient" [user]="recipient" />

          <span class="header-username">{{ recipient.name.slice(0,10) }}...</span>
        </div>
      </div>
    </div>
    <div class="direct-m-content">
      @if(currUser && channel && channel.posts.length > 0 && channel.isPmChannel) {
      <div class="direct-m-items">
        @for (post of channel.posts; track post.post_id; let i = $index) {
        <div class="direct-m-item">
          <app-time-separator [timestamp]="post.date"
            *ngIf="i == 0 || !timeService.isOnSameDay(post.date, channel.posts[i - 1].date)" />
          <app-message-item [id]="post.post_id" [postUid]="currUser.uid" [post]="post"
            [messageSender]="isCurrentUserAuthor()" [isInDirectMessage]="true" />
        </div>
        }
      </div>
      }@else {
      <div class="direct-m-mem" id="mobile-direct-m-mem">
        <div class="direct-m-mem-header">
          <div class="member-img-container">
            <img [src]="recipient?.avatarSrc" [alt]=" recipient?.name" />
          </div>
          <span *ngIf="recipient" (click)="openUserProfile(recipient)">{{ recipient.name.slice(0,10) }}...</span>
        </div>
        @if(currUser?.uid === recipient?.uid) {<p>
          <b>Dieser Raum ist nur für dich da.</b>
          Mache dir Notizen, liste deine To-dos auf oder bewahre Links und Dateien griffbereit auf.
          Du kannst hier auch gerne Dinge mit dir selbst besprechen.
        </p>}
        @else {<p>
          Diese Unterhaltung findet nur zwischen <span>&#64;{{ recipient?.name }}</span> und
          dir statt.
        </p>}
      </div>
      }
      <app-message-box [channel]="channel" (sent)="onCreatePost($event)" [inThread]="false" />
    </div>
    <emoji-mart title="Pick your emoji…" emoji="point_up" *ngIf="emojiPicker"></emoji-mart>
  </section>
  } @else {
  <section class="direct-m-container">
    <app-forbidden-channel-feedback />
  </section>
  }
</div>