<div class="mobile-wrapper">
  <section class="direct-m-container">
    <div class="direct-m-header">
      <div class="header-img-container">
        <div class="hoverImgContainer" (click)="openUserProfile()">
          <img [src]="recipient?.avatarSrc" [alt]="recipient?.name" />
          <span class="onlinedot"></span>

          <span>{{ recipient?.name }}</span>
        </div>
      </div>
    </div>
    <div class="direct-m-content">
      @if(channel && channel.posts.length > 0 && channel.isPmChannel) {
      <div class="direct-m-items">
        @for (post of channel.posts; track post.post_id; let i = $index) {
        <div class="direct-m-item">
          <app-time-separator [timestamp]="post.date" />
          <app-message-item [post]="post" [hideEmojiPicker]="emojiPicker"
            (showEmojiPicker)="handleEmojiStateChange($event)" [messageSender]="isCurrentUserAuthor()" />
        </div>
        }
      </div>
      }@else {
      <div class="direct-m-mem" id="mobile-direct-m-mem">
        <div class="direct-m-mem-header">
          <div class="member-img-container">
            <img [src]="recipient?.avatarSrc" [alt]=" recipient?.name" />
          </div>
          <span (click)="openUserProfile()">{{ recipient?.name }}</span>
        </div>
        <p>
          Diese Unterhaltung findet nur zwischen <span>&#64;{{ recipient?.name }}r</span> und
          dir statt.
        </p>
      </div>
      }
      <app-message-box (sent)="onCreatePost($event)" />
    </div>
    <emoji-mart title="Pick your emoji…" emoji="point_up" *ngIf="emojiPicker"></emoji-mart>
  </section>
</div>