<div class="content-wrapper">
    <form class="content-main content-card" (ngSubmit)="onSubmit(requestPwResetForm)" #requestPwResetForm="ngForm">
        <h1>
            Passwort <br class="d-640" />zurücksetzen
            <div class="back-btn-container">
                <a routerLink="/auth/logIn" class="black-to-blue-btn">
                    <img src="assets/img/icons/go_back_arrow.svg" alt="go back">
                </a>
            </div>
        </h1>
        <p class="advice">Bitte geben Sie Ihre E-Mail-Adresse ein.</p>
        <div class="form-field bg-violet">
            <span class="material-icons-outlined icon" [ngClass]="{'to-black': data.email}">mail</span>
            <input type="email" placeholder="beispielname@email.com" [(ngModel)]="data.email" name="email"
                #email="ngModel" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
            @if(email.touched && !email.valid)
            {<p class="error-msg">
                Diese E-Mail-Adresse ist leider ungültig.
            </p>}
        </div>
        <p class="advice text-grey">Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</p>
        <div class="submit-btns">
            <button type="submit" class="form-btn-primary" [disabled]="!requestPwResetForm.valid || loading">E-Mail
                senden</button>
        </div>
    </form>
    <app-toast-notification [message]="'email'" [showing]="showToast" (then)="afterToast()" />
</div>