@import '../login/login.component.scss';
@import '../sign-up/sign-up.component.scss';

.content-wrapper .content-main {
    width: 696px;
    padding-left: 96px;
    padding-right: 96px;
    h1 .back-btn-container {
        left: -60px;
    }
}