<form class="container" [ngClass]="{ 'expanded': selection === 'specificPeople' }"
  (ngSubmit)="onSubmit(addMemberChannelForm)" #addMemberChannelForm="ngForm">
  <div class="fingerbar" (click)="close()">&nbsp;</div>
  <div class="headlineAndCloseBtn">
    <span>Leute hinzufügen</span>
    <button class="close-thread-btn">
      <span class="material-icons-outlined">close</span>
    </button>
  </div>
  <div class="inputContainer">
    <div>
      <input type="radio" id="contactChoice1" name="contactChoice1" value="allMembers" [(ngModel)]="selection" />
      <label for="contactChoice1">Alle Mitglieder von <span>OfficeTeam</span> hinzufügen</label>
    </div>
    <div>
      <input type="radio" id="contactChoice2" name="contactChoice2" value="specificPeople" [(ngModel)]="selection"
        (change)="autofocus()" />
      <label for="contactChoice2">Bestimmte Leute hinzufügen</label>
    </div>
    <app-add-members-input *ngIf="selection === 'specificPeople'" />
    <div>
      <button type="submit" [disabled]="!selection" class="form-btn-primary">Erstellen</button>
    </div>
  </div>
</form>