@import "../../../styles.scss";

.inputContainer {
    display: flex;
    margin-top: 370px;
    margin-left: 40px;
    flex-direction: column;
    width: 420px;
    height: 194px;
}

.nameContainer {
    display: flex;
    flex-direction: column;
    gap: 7px;
    .userName {
        display: flex;
        gap: 20px;
        .mailIcon {
            width: 25px;
            height: 20px;
        }
        .userIcon {
            width: 25px;
            height: 25px;
        }
        p {
            font-weight: 700;
            font-size: 20px;
        }
    }
}

.emailContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 16px;
    .email {
        display: flex;
        gap: 20px;
        .mailIcon {
            width: 25px;
            height: 20px;
        }
            p {
            font-weight: 700;
            font-size: 20px;
        }
    }
}

.userCard {
    position: fixed;
    right: 35px;
    top: 95px;
    width: 500px;
    height: 705px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 420px;
    height: 40px;
    margin-left: 40px;
    position: absolute;
    top: 40px;
    align-items: baseline;
    p {
        font-weight: 700;
        font-size: 24px;
    }
    a {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            cursor: pointer;
        }
        &:hover {
            background-color: $violet-bright;
        }
    }
}


.close-thread-btn {
    color: rgb(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 8px;
    cursor: pointer;
  
    &:hover {
      color: $purple-blue-bright;
      background-color: $violet-bright;
      border-radius: 20px;
    }
  }

.profileImg {
    position: absolute;
    left: 150px;
    top: 125px;
    
    img:nth-child(1){
        width: 200px;
        height: 200px;
        border-radius: 100%;
    }
   
  
}

.editIcon{
    position: absolute;
    top: 310px;
    left: 330px;
    border-radius: 100%;
    padding: 8px;
    cursor: pointer;
    img{
        width: 24px;
        height: 24px;
    }
    &:hover{
        background-color: #eceefe;
       
    }
    
}

.inputField {
    input {
        width: 420px;
        height: 52px;
        border: 1px solid $purple-light;
        border-radius: 30px;
        padding-left: 20px;
        &:focus:invalid, &:not(:focus:placeholder-shown):invalid {
            border-color: $magenta;
        }
    }

}

.submit-btns{
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 45px;
}

.error-msg {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    color: $magenta;
    font-size: 14px;
    animation: fade-in 250ms ease-out;
    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

