<form class="searchbar-wrapper" [ngClass]="inHeader? 'in-header' : 'in-navigation'" #searchForm="ngForm">
    <div class="searchbar-box">
        <input #searchbar name="searchbar" [(ngModel)]="searchInput" type="text" [placeholder]="placeholder"
            autocomplete="off" (keyup)="search()">
        @if(searchInput.length > 0 && !hidingResults) {
        <button type="button" class="searchbar-icon material-icons-outlined"
            (click)="onCloseSearchClick()">close</button>
        } @else {
        <button type="button" class="searchbar-icon material-icons-outlined"
            (click)="onSearchClick($event)">search</button>
        }
        @if(
        searchInput.length > 0 && !hidingResults &&
        searchResultsChannels.length + searchResultsUsers.length + searchResultsPosts.length > 0
        ) {
        <div class="search-results-container" (click)="onResultsClick($event)">
            <div class="search-results-list-container" *ngIf="searchResultsChannels.length > 0"
                [ngClass]="{'extended': extended === 'channels', 'collapsed': extended && extended != 'channels'}">
                <p class="search-results-title first-title" (click)="toggleListExtension('channels')">
                    <span class="material-icons-outlined arrow-icon">arrow_drop_down</span>
                    <span class="material-icons-outlined">workspaces</span>
                    Channels
                </p>
                <ul class="search-results-list">
                    @for(channel of searchResultsChannels; track channel) {
                    <li class="search-results-channel" [routerLink]="['/main-chat', channel.channel_id]"
                        (click)="clearSearch()">
                        <span># {{ channel.name }}</span>
                        <app-members-overview [channel]="channel" />
                    </li>
                    }
                </ul>
            </div>
            <div class="search-results-list-container" *ngIf="searchResultsUsers.length > 0"
                [ngClass]="{'extended': extended === 'users', 'collapsed': extended && extended != 'users'}">
                <p class="search-results-title" (click)="toggleListExtension('users')">
                    <span class="material-icons-outlined arrow-icon">arrow_drop_down</span>
                    <span class="material-icons-outlined">account_circle</span>
                    Nutzer
                </p>
                <ul class="search-results-list">
                    @for(user of searchResultsUsers; track user) {
                    <li (click)="openUserProfile(user)">
                        <img [src]="user.avatarSrc" alt="Avatar" />
                        {{ user.name }}
                    </li>
                    }
                </ul>
            </div>
            <div class="search-results-list-container" *ngIf="searchResultsPosts.length > 0"
                [ngClass]="{'extended': extended === 'posts', 'collapsed': extended && extended != 'posts'}">
                <p class="search-results-title" (click)="toggleListExtension('posts')">
                    <span class="material-icons-outlined arrow-icon">arrow_drop_down</span>
                    <span class="material-icons-outlined">insert_comment</span>
                    Posts
                </p>
                <ul class="search-results-list">
                    @for(post of searchResultsPosts; track post; let i = $index) {
                    <li class="search-results-post" *ngIf="postChannelIndices[i] != -1" (click)="clearSearch()"
                        [routerLink]="[userChannels[postChannelIndices[i]].isPmChannel ? '/direct-message' : '/main-chat', post.channel_id]"
                        [queryParams]="{post: post.post_id}">
                        <div class="top-line">
                            <span>
                                <b>{{ searchResultsPostAuthors[i] }}</b>
                            </span>
                            <span class="date">
                                {{timeService.toRelativeDateWithClock(post.date)}}
                            </span>
                            <span class="channel-name" *ngIf="!userChannels[postChannelIndices[i]].isPmChannel">
                                # {{userChannels[postChannelIndices[i]].name}}
                            </span>
                        </div>
                        <span class="bottom-line">
                            <i>&bdquo;{{ searchResultsPostsDisplay[i] }}&ldquo;</i>
                        </span>
                    </li>
                    }
                </ul>
            </div>
        </div>
        }
    </div>
</form>