@import "../../../styles.scss";

.userCard {
    position: fixed;
    right: 35px;
    top: 95px;
    width: 500px;
    height: 705px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 420px;
    height: 40px;
    margin-left: 40px;
    position: absolute;
    top: 40px;
    align-items: baseline;
    p {
        font-weight: 700;
        font-size: 24px;
    }
    a {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            cursor: pointer;
        }
        &:hover {
            background-color: $violet-bright;
        }
    }
}

.close-thread-btn {
    color: rgb(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 8px;
    cursor: pointer;
  
    &:hover {
      color: $purple-blue-bright;
      background-color: $violet-bright;
      border-radius: 20px;
    }
  }

.profileImg {
    position: absolute;
    left: 150px;
    top: 125px;
    img {
        width: 200px;
        height: 200px;
        border-radius: 100%;
    }
    &.defaultPic {
        width: 200px;
        height: 200px;
        background-image: url(/assets/img/avatar/empty_avatar.svg);
        background-size: cover;
        border-radius: 100%;
    }
}

.imgedit {
    position: absolute;
    right: 110px;
    top: 300px;
    cursor: pointer;
    &:hover {
        content: url('/assets/img/icons/edit_hover.svg');
    }
}

.userName {
    position: absolute;
    width: 420px;
    height: 86px;
    left: 40px;
    top: 370px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .online {
        height: 27px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 15px;
        // margin-top: 15px;
        .onlinedot {
            position: relative;
            content: '';
            bottom: 6px;
            right: 0px;
            width: 16px;
            height: 16px;
            box-sizing: border-box;
            background-color: $onlinedot-online;
            border: 2px solid $onlinedot-border;
            border-radius: 50%;
            &.online {
                background-color: $onlinedot-online;
            }
            &.idle {
                background-color: #c8c82e;
            }
            &.offline {
                background-color: $onlinedot-offline;
            }
        }
        .status-text {
            font-weight: 400;
            font-size: 20px;
            // color: #92c83e;
            &.online {
                color: $onlinedot-online;
            }
            &.idle {
                color: #c8c82e;
            }
        }
    }
}


.emailContainer {
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 70px;
    gap: 15px;
    margin-top: 501px;
    margin-left: 40px;
    .email {
        display: flex;
        gap: 20px;
        img {
            width: 25px;
            height: 20px;
        }
        p {
            font-weight: 700;
            font-size: 20px;
        }
    }
    .showEmail{
        margin-left: 50px;
        p {
            font-weight: 400;
            font-size: 18px;
            color: #1381FF;
        }
    }
}

.submit-btns{
  margin-top: 45px;
  margin-left: 168px;
  button {
    width: 164px;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
  }
}
// ###########################################################

.userCard {
    height: 600px;
    border-radius: 30px 0px 30px 30px;
}

.nameAndEdit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit {
    color: $purple-blue-bright !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    cursor: pointer;
    &:hover {
        color: $purple-blue-bright !important;
        font-weight: 650 !important;
    }
}
