<div class="userCard">
    <div class="head">
        <p>Profil</p>
        <div class="close-btn" (click)="closeDialog()">
            <a (click)="closeDialog()">
                <img src="/assets/img/icons/close.svg" />
            </a>
        </div>
    </div>
    <div class="profileImg defaultPic">
        <img class="#" src="{{ mainUser.avatarSrc || '/assets/img/avatar/empty_avatar.svg' }}" />
    </div>
    <div class="imgedit">
        <img src="/assets/img/icons/edit.svg" (click)="openEditAvatar()" >
    </div>
    <div class="userName">
        <div class="nameAndEdit">
            <p class="name">{{ mainUser.name || '...'}}</p>
            <p class="edit" (click)="openEditProfile(mainUser)"><span>Bearbeiten</span><img src="/assets/img/icons/edit.svg" ></p>
        </div>
        <div class="online-status">
            <div class="onlinedot"
                [ngClass]="{'online': activityService.getUserState(mainUser).state == 'active'}" 
                [ngClass]="{'idle': activityService.getUserState(mainUser).state == 'idle'}"
            ></div>
            @if (activityService.getUserState(mainUser).state == 'active') {
                <p class="status-text online">Aktiv</p>
            } @else if (activityService.getUserState(mainUser).state == 'idle') {
                <p class="status-text idle">Abwesend</p>
            }
        </div>
    </div>
    <div class="emailContainer">
        <div class="email">
            <img src="/assets/img/userProfileImg/mail.png" />
            <p>E-Mail-Adresse</p>
        </div>
        <div class="showEmail">
            <p>{{ mainUser.email || 'vorname.name@beispiel.de' }}</p>
        </div>
    </div>
