@import '../../../styles.scss';

.time-separator-container {

    display: flex;
    justify-content: center;
    align-items: center;

    .time {
        font-size: 18px;
        font-weight: 400;
        line-height: 22.55px;
        padding: 5px 15px;
        border: 1px solid $purple-light;
        border-radius: 30px;

    }

    .separator {
        background-color: $purple-light;
        width: 340px;
        height: 1px;
    }
}