<div id="mobile-message-container" class="new-message-container">
    <div class="new-message-header">
        <h3>Neue Nachricht</h3>
        <input name="searchbar" [(ngModel)]="searchInput" type="text"
            placeholder="An: #channel, oder @jemand oder E-Mail Adresse" autocomplete="off" (keyup)="search()">
        <div *ngIf="searchResultsChannels.length === 0">
            @if (channelList.length > 0) {
            <ul class="channel-list">
                @for (channel of channelList; track $index) {
                <li (click)="removeChannel(channel)"><span>#</span>{{ channel.name }}</li>
                }
            </ul>
            }
            @if (userList.length > 0) {
            <ul class="users-list">
                @for (user of userList; track $index) {
                <li (click)="removeUser(user)"><span class="img-container"><img [src]="user.avatarSrc"
                            [alt]="user.name"></span>{{
                    user.name }}</li>
                }
            </ul>
            }
        </div>

        <div class="search-results-container" (click)="onResultsClick($event)">
            <div class="search-results-list-container" *ngIf="searchResultsChannels.length > 0"
                [ngClass]="{'extended': extended === 'channels', 'collapsed': extended && extended != 'channels'}">
                <p class="search-results-title first-title" (click)="toggleListExtension('channels')">
                    <span class="material-icons-outlined arrow-icon">arrow_drop_down</span>
                    <span class="material-icons-outlined">workspaces</span>
                    Channels
                </p>
                <ul class="search-results-list">
                    @for(channel of searchResultsChannels; track channel) {
                    <li class="search-results-channel" (click)="addChannelToList(channel)">
                        <span># {{ channel.name }}</span>
                        <app-members-overview [channel]="channel" />
                    </li>
                    }
                </ul>
            </div>
            <div class="search-results-list-container" *ngIf="searchResultsUsers.length > 0"
                [ngClass]="{'extended': extended === 'users', 'collapsed': extended && extended != 'users'}">
                <p class="search-results-title" (click)="toggleListExtension('users')">
                    <span class="material-icons-outlined arrow-icon">arrow_drop_down</span>
                    <span class="material-icons-outlined">account_circle</span>
                    Nutzer
                </p>
                <ul class="search-results-list">
                    @for(user of searchResultsUsers; track user) {
                    <li (click)="addUserToList(user)">
                        <img [src]="user.avatarSrc" alt="Avatar" />
                        {{ user.name }}
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <app-message-box [inThread]="false" />
    <emoji-mart title="Pick your emoji…" emoji="point_up" *ngIf="emojiPicker"></emoji-mart>
</div>