@import "../../styles.scss";

$animation-duration: 2400ms;
$gradient-bg: linear-gradient($purple-blue-brighter, #323be6);

.overlay {
    position: fixed;
    top: 0;
    bottom: 100dvh;
    left: 100vw;
    right: 0;
    z-index: -1;
    background: $gradient-bg;
    animation: fade-out calc($animation-duration / 4) ease-in-out;
    animation-delay: calc(3 * $animation-duration / 4);
    animation-fill-mode: backwards;
    @keyframes fade-out {
        from {
            opacity: 1;
            z-index: 10;
            bottom: 0;
            left: 0;
        }
        to {
            opacity: 0;
            z-index: 10;
            bottom: 0;
            left: 0;
        }
    }
}

@mixin logo-wrapper-start() {
    transform: translate(50vw, 50dvh);
}

@mixin logo-wrapper-end-auth-desktop-large() {
    transform: translate(75px, 75px);
}

@mixin logo-wrapper-end-auth-desktop-small() {
    transform: translate(64px, 48px);
}

@mixin logo-wrapper-end-main-desktop() {
    transform: translate(50px, 25px);
}

@mixin logo-wrapper-end-main-mobile() {
    transform: translate(16px, 15px);
}

.logo-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 242px;
    height: 70px;
    @include logo-wrapper-start();

    .logo-container {
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media screen and (max-width: 1024px) {
        width: 194px;
        height: 56px;
    }

    @media screen and (max-width: 768px) {
        width: 156px;
        height: 45px;
    }
}

.outer-wrapper {
    position: fixed;
    inset: 0;
    z-index: 11;
}

.outer-wrapper-auth {
    @extend .outer-wrapper;
    .logo-wrapper {
        @extend .logo-wrapper;
        @media screen and (min-width: 1025px) {
            @include logo-wrapper-end-auth-desktop-large();
            @media screen and (max-width: 1440px),
            screen and (max-height: 920px) {
                @include logo-wrapper-end-auth-desktop-small();
            }
        }
    }
}

.outer-wrapper-main {
    @extend .outer-wrapper;
    .logo-wrapper {
        @extend .logo-wrapper;
        @include logo-wrapper-end-main-desktop();
        @media screen and (max-width: 768px) {
            @include logo-wrapper-end-main-mobile();
        }
    }
}

.logo-img-container {
    height: 100%;
    width: 100%;
    position: relative;
    img {
        position: relative;
        height: inherit;
        width: auto;
    }
}

.logo-text-container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    img {
        position: relative;
        height: inherit;
        width: auto;
    }
}

@media screen and (min-width: 1025px) {
    .outer-wrapper-auth .logo-animate {
        animation: move-wrapper-auth-large calc($animation-duration * 0.42) ease-in-out;
        @media screen and (max-width: 1440px),
        screen and (max-height: 920px) {
            animation-name: move-wrapper-auth-small;
        }
        animation-delay: calc($animation-duration * 0.44);
        animation-fill-mode: backwards;
        @keyframes move-wrapper-auth-large {
            from {
                @include logo-wrapper-start();
            }
            to {
                @include logo-wrapper-end-auth-desktop-large();
            }
        }
        @keyframes move-wrapper-auth-small {
            from {
                @include logo-wrapper-start();
            }
            to {
                @include logo-wrapper-end-auth-desktop-small();
            }
        }
    }
}

.outer-wrapper-main .logo-animate {
    animation: move-wrapper-main-desktop calc($animation-duration * 0.42) ease-in-out;
    @media screen and (max-width: 768px) {
        animation-name: move-wrapper-main-mobile;
    }
    animation-delay: calc($animation-duration * 0.44);
    animation-fill-mode: backwards;
    @keyframes move-wrapper-main-desktop {
        from {
            @include logo-wrapper-start();
        }
        to {
            @include logo-wrapper-end-main-desktop();
        }
    }
    @keyframes move-wrapper-main-mobile {
        from {
            @include logo-wrapper-start();
        }
        to {
            @include logo-wrapper-end-main-mobile();
        }
    }
}

.logo-animate {
    .logo-container {
        animation: size-container calc($animation-duration * 0.42) ease-in-out;
        @media screen and (max-width: 480px) {
            animation-name: size-container-480;
        }
        animation-delay: calc($animation-duration * 0.44);
        animation-fill-mode: backwards;
        @keyframes size-container {
            from {
                transform: scale(2.63) translateX(-20%);
            }
            to {
                transform: scale(1) translateX(0);
            }
        }
        @keyframes size-container-480 {
            from {
                transform: scale(1.9) translateX(-24%);
            }
            to {
                transform: scale(1) translateX(0);
            }            
        }
        .logo-img-container img {
            animation: move-img calc($animation-duration / 3) ease-in-out;
            @keyframes move-img {
                from {
                    left: 35.5%;
                }
                to {
                    left: 0;
                }
            }
        }
        .logo-text-container img {
            animation: move-text calc($animation-duration * 0.83) ease-in-out;
            animation-delay: calc($animation-duration * 0.17);
            animation-fill-mode: backwards;
            @keyframes move-text {
                0% {
                    right: 100%;
                    filter: invert(100%);
                }
                25% {
                    right: 0;
                    filter: invert(100%);
                }
                55% {
                    right: 0;
                    filter: invert(100%);
                }
                100% {
                    right: 0;
                    filter: invert(0%);
                }
            }
        }
    }
}

.blinder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: calc(58vw);
    opacity: 0;
    background: $gradient-bg;
    animation: hide-blinder 1ms;
    animation-delay: calc($animation-duration * 0.4);
    animation-fill-mode: backwards;
    @keyframes hide-blinder {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
}

.paused {
    animation-play-state: paused !important;
    .logo-container {
        animation-play-state: paused;
        .logo-img-container img,
        .logo-text-container img {
            animation-play-state: paused;
        }
    }
}

.default-cursor {
    cursor: default;
}
