<div class="overlay" [ngClass]="{'hide': after || !animate, 'paused': pause}"></div>
@if(!authResponsive) {
<div [ngClass]="onAuthRoute() ? 'outer-wrapper-auth' : 'outer-wrapper-main'">
    <div class="logo-wrapper" [ngClass]="{'logo-animate': animate && !after, 'paused': pause}">
        <div class="logo-container">
            <div class="logo-text-container">
                <img src="assets/img/logo_name_only.svg" alt="DABubble">
            </div>
        </div>
    </div>
    <div class="blinder" [ngClass]="{'paused': pause}"></div>
    <div class="logo-wrapper" [ngClass]="{'logo-animate': animate && !after, 'paused': pause}">
        <div class="logo-container">
            <div class="logo-img-container">
                <img src="assets/img/logo.svg" alt="DABubble">
            </div>
        </div>
    </div>
</div>
} @else {
    <div class="outer-wrapper-auth">
        <div class="logo-wrapper" [ngClass]="{'logo-animate': animate && !after, 'paused': pause}"
            [@translateLogoWrapperResponsive]="{ value: animationState, params: { translateY: translateY } }">
            <div class="logo-container">
                <div class="logo-text-container">
                    <img src="assets/img/logo_name_only.svg" alt="DABubble">
                </div>
            </div>
        </div>
        <div class="blinder" [ngClass]="{'paused': pause}"></div>
        <div class="logo-wrapper" [ngClass]="{'logo-animate': animate && !after, 'paused': pause}"
            [@translateLogoWrapperResponsive]="{ value: animationState, params: { translateY: translateY } }">
            <div class="logo-container">
                <div class="logo-img-container">
                    <img src="assets/img/logo.svg" alt="DABubble">
                </div>
            </div>
        </div>
    </div>    
}