@import '../login/login.component.scss';

.privacy-policy-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
    span {
        display: flex;
        align-items: center;
        gap: 2px;
        font-size: 16px;
        a {
            font-size: 16px;
            padding: 1px 3px;
            height: auto;
        }
    }
}

.submit-btns {
    width: 100%;
    justify-content: flex-end;
}