<div class="content-wrapper">
    <form class="content-main content-card" (ngSubmit)="onSubmit(signUpForm)" #signUpForm="ngForm">
        <h1>
            Konto erstellen
            <div class="back-btn-container">
                <a routerLink="/auth/logIn" class="black-to-blue-btn">
                    <img src="assets/img/icons/go_back_arrow.svg" alt="go back">
                </a>
            </div>
        </h1>
        <p class="advice">Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</p>
        <div class="form-field bg-violet">
            <span class="material-icons-outlined icon" [ngClass]="{'to-black': user.name}">person</span>
            <input type="text" placeholder="Name und Nachname" [(ngModel)]="user.name" name="name" #name="ngModel"
                required>
            @if(name.touched && !name.valid)
            {<p class="error-msg">
                Bitte schreiben Sie einen Namen.
            </p>}
        </div>
        <div class="form-field bg-violet">
            <span class="material-icons-outlined icon" [ngClass]="{'to-black': user.email}">mail</span>
            <input type="email" placeholder="beispielname@email.com" [(ngModel)]="user.email" name="email"
                #email="ngModel" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
            @if(email.touched && !email.valid)
            {<p class="error-msg">
                Diese E-Mail-Adresse ist leider ungültig.
            </p>}
        </div>
        <div class="form-field bg-violet">
            <span class="material-icons-outlined icon" [ngClass]="{'to-black': user.password}">lock</span>
            <input type="password" placeholder="Passwort" [(ngModel)]="user.password" name="password"
                #password="ngModel" minlength="6" required>
            @if(password.touched && password.value.length == 0)
            {<p class="error-msg">
                Bitte geben Sie ein Passwort ein.
            </p>}
            @else if(password.touched && password.value.length < 6) {<p class="error-msg">
                Ihr Passwort muss mindestens 6 Zeichen enthalten.
                </p>}
                @else if(signUpForm.submitted && authError)
                {<p class="error-msg">{{authError}}</p>}
        </div>
        <div class="privacy-policy-container">
            <div class="custom-checkbox-container">
                <div class="custom-checkbox" class="custom-checkbox"
                    [ngClass]="privacy.valid ? 'custom-checkbox-checked' : 'custom-checkbox-empty'">
                    <input type="checkbox" [ngModel]="false" name="privacy" #privacy="ngModel" required>
                </div>
            </div>
            <span>
                Ich stimme der
                <a routerLink="/privacypolicy" [queryParams]="{'back': false}" target="_blank"
                    class="link-purple-bg">Datenschutzerklärung</a>
                zu.
            </span>
        </div>
        <div class="submit-btns">
            <button type="submit" class="form-btn-primary" [disabled]="!signUpForm.valid || loading">Weiter</button>
        </div>
    </form>
    <app-toast-notification [message]="'signup'" [showing]="showToast" (then)="afterToast()"></app-toast-notification>
</div>