<div class="container">
  <div class="headlineAndCloseBtn">
    <span># Entwicklerteam</span>
    <button class="close-thread-btn">
      <span class="material-icons-outlined">close</span>
    </button>

  </div>
  <div class="explainChannel">
  <div class="channelName">
    <span>Channel-Name</span>
    <span>Bearbeiten</span>
    
    <!-- <span>Speichern</span> -->
  </div>
  <div class="editChannelName">
    <span># Entwicklerteam</span>
  </div>
    <!-- <input type="text" placeholder="# &nbsp; Entwicklerteam" /> -->
</div>
  <div class="explain">
    <div class="channelName">
      <span>Beschreibung</span>
      <span>Speichern</span>

    </div>
    <input type="text" placeholder="Dein Text hier" />
    <span></span>
  </div>
  <div class="createdBy">
    <span>Erstellt von</span>
    <span>Noah Braun</span>

  </div>
  <div class="addChannelBtn">
    <button type="submit" class="form-btn-primary">Channel verlassen</button>
    
  </div>
</div>
