<div class="container">
  <div class="headlineAndCloseBtn">
    <span># {{ data.name }}</span>
    <button class="close-thread-btn" (click)="closeChannel()">
      <span class="material-icons-outlined">close</span>
    </button>
  </div>
  <div class="explainChannel" [ngClass]="{ 'no-border': editName }">
    <div class="channelName" [ngClass]="{ width: editName }">
      <div>
        <span>Channel name</span>
        <span *ngIf="!editName"># {{ data.name }}</span>
      </div>
      @if(userIsAuthor) {
      <div *ngIf="!editName">
        <button type="button" (click)="toggleEditName()">Bearbeiten</button>
      </div>
      <div *ngIf="editName">
        <button type="button" (click)="saveNameChanges()"
          [disabled]="channelName.length == 0 || !nameAvailable">Speichern</button>
      </div>
      }
    </div>
    <div class="editChannelName">
      <input *ngIf="editName" ngModel type="text" [(ngModel)]="channelName" placeholder="# &nbsp; Channel-Name"
        (keydown)="nameAvailable = true" (change)="checkNameAvailability()" />
      @if(!nameAvailable)
      {<p class="error-msg">
        Dieser Channel-Name ist nicht mehr verfügbar.
      </p>}
    </div>
  </div>
  <div class="explain" [ngClass]="{ 'no-border': editDescriptionMode }">
    <div class="channelName" [ngClass]="{ width: editDescriptionMode }">
      <div class="titleText">
        <span>Beschreibung</span>
        <span *ngIf="!editDescriptionMode">{{ data.description }}</span>
        <span class="line"></span>
      </div>
      @if(userIsAuthor) {
      <div class="description" *ngIf="!editDescriptionMode">
        <button type="button" (click)="toggleEditDescriptionMode()">Bearbeiten</button>
      </div>
      <div *ngIf="editDescriptionMode">
        <button type="button" (click)="saveDescriptionChanges()">Speichern</button>
      </div>
      }
    </div>
    <div></div>
    <div class="editChannelName">
      <input *ngIf="editDescriptionMode" type="text" [(ngModel)]="channelDescription" placeholder="Dein Text hier" />
    </div>
    <div class="createdBy">
      <span>Erstellt von</span>
      @if(data.name === 'Team') {
      <img src="/assets/img/logo_name.svg" alt="DABubble" class="logo">
      } @else {
      <span>{{ channelAuthorName }}</span>
      }
    </div>
  </div>
  <div class="addChannelBtn">
    <button type="submit" class="form-btn-primary" (click)="leaveChannel()" [disabled]="data.name === 'Team'">Channel
      verlassen</button>
  </div>
</div>