@import "../../styles.scss";

.container {
  width: 872px;
  height: 616px;
  background-color: white;
  // border-radius: 0px 30px 30px 30px;
  // transform: translate(-50%, -50%);
  // left: 50%;
  // top: 50%;
  // position: absolute;
  // box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.headlineAndCloseBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 792px;
  height: 40px;
  justify-content: space-between;
  margin-left: 40px;
  margin-top: 40px;
  span {
    font-weight: 700;
    font-size: 24px;
    word-spacing: 15px;
    cursor: pointer;
  }
}

.channelName {
  display: flex;
  justify-content: space-between;
  div {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
  span:nth-child(1) {
    font-weight: 700;
    font-size: 18px;
  }
  span:nth-child(2) {
    font-weight: 400;
    font-size: 18px;
  }
  button {
    font-size: 18px;
    font-weight: 600px;
    color: rgba(83, 90, 241, 1);
    cursor: pointer;
    &:hover {
      color: $purple-blue-bright !important;
      font-weight: 650 !important;
    }
  }
}
.description {
  width: 90px;
  height: 25px;
  margin-left: -90px;
  button {
    margin-left: -10px;
  }
}
.explain {
  width: 792px;
  height: 273px;
  margin-left: 40px;
  margin-top: 20px;
  border: 1px solid rgba(173, 176, 217, 1);
  border-radius: 20px;
  padding: 20px;
  span:nth-child(3) {
    width: 739px;
    border: 1px solid rgba(173, 176, 217, 1);
    margin-top: 10px;
  }

  input {
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 30px;
    padding: 15px 20px;
    height: 60px;
    font-size: 18px;
    font-weight: 400;
    width: 792px;
    &:hover,
    &:focus {
      border: 1px solid rgba(83, 90, 241, 1);
    }
  }
}
.close-thread-btn {
  color: rgb(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;

  &:hover {
    color: $purple-blue-bright;
    background-color: $violet-bright;
    border-radius: 20px;
  }
}

.explainChannel {
  width: 792px;
  height: 105px;
  margin-left: 40px;
  margin-top: 20px;
  border: 1px solid rgba(173, 176, 217, 1);
  border-radius: 20px;
  padding: 20px;

  input {
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 30px;
    padding: 15px 20px;
    height: 60px;
    font-size: 18px;
    font-weight: 400;
    width: 792px;
    margin-top: 20px;

    &:hover,
    &:focus {
      border: 1px solid rgba(83, 90, 241, 1);
    }
  }
}
.createdBy {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px;
  span:nth-child(1) {
    font-weight: 700;
    font-size: 18px;
  }
  span:nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    color: rgba(83, 90, 241, 1);
  }
}
.addChannelBtn {
  margin-left: 628px;
  margin-top: 45px;
}
.editChannelName {
  margin-left: -20px;
  span {
    font-weight: 400;
    font-size: 18px;
    word-spacing: 10px;
  }
}
.no-border {
  border: none;
 
}
.width {
  margin-left: -20px;
  width: 792px;
  margin-top: -30px;
  align-items: center;
  transition: 100ms ease-in;

}
.titleText {
  margin-top: 20px;
  transition: 100ms ease-in;

}