<div class="container">
    <div class="headlineAndCloseBtn">
        <div class="headline-outer-box">
            <div class="headline-box">
                <img src="/assets/img/icons/tag.svg"><span>{{ data.name }}</span>
            </div>
            <button class="close-dialog-btn" (click)="closeChannel()">
                <span class="material-icons-outlined">close</span>
            </button>
        </div>
    </div>
    <div class="mobile-top-box"></div>
    <div class="explainChannel" [ngClass]="{ 'editMode': editMode }">
        <div class="channelName" [ngClass]="{ editMode: editMode }">
            <div class="titleText">
                <span class="title">Channel-Name</span>
                @if(userIsAuthor) {
                    <div class="channel-edit-btn">
                        @if (editMode) {
                            <button type="button" (click)="saveNameChanges()" [disabled]="channelName.length == 0 || !nameAvailable || loading">
                                <span class="notmobileView">Speichern</span>
                                <img class="mobileView img-check" src="/assets/img/icons/check_circle.svg">
                            </button>
                        } @else {
                            <button type="button" (click)="toggleEditMode()">
                                <span class="notmobileView" >Bearbeiten</span>
                                <img class="mobileView img-edit" src="/assets/img/icons/edit.svg">
                            </button>
                        }
                    </div>
                }
            </div>
            <div class="editChannelName">
                <div class="input-box">
                    <img src="/assets/img/icons/tag.svg"><input type="text" [(ngModel)]="channelName" placeholder="#&nbsp;Channel-Name" (keydown)="nameAvailable = true" (change)="checkNameAvailability()" />
                </div>
                @if(!nameAvailable) {
                    <p class="error-msg">Dieser Channel-Name ist nicht mehr verfügbar.</p>
                }
            </div>
            <div class="channelName-text">
                <img src="/assets/img/icons/tag.svg"><span> {{ data.name }}</span>
            </div>
        </div>
    </div>
    <div class="explain" [ngClass]="{ 'editMode': editDescriptionMode }">
        <div class="channelName" [ngClass]="{ editMode: editDescriptionMode }">
            <div class="titleText">
                <span class="title">Beschreibung</span>
                @if(userIsAuthor) {
                    <div class="channel-edit-btn">
                        @if (editDescriptionMode) {
                            <button type="button" (click)="saveDescriptionChanges()"  [disabled]="loading">
                                <span class="notmobileView">Speichern</span>
                                <img class="mobileView img-check" src="/assets/img/icons/check_circle.svg">
                            </button>
                        } @else {
                            <button type="button" (click)="toggleEditDescriptionMode()">
                                <span class="notmobileView">Bearbeiten</span>
                                <img class="mobileView img-edit" src="/assets/img/icons/edit.svg">
                            </button>
                        }
                    </div>
                }
            </div>
            <div class="editChannelDescription">
                <div class="input-box">
                    <input *ngIf="editDescriptionMode" type="text" [(ngModel)]="channelDescription" placeholder="Dein Text hier" />
                </div>
            </div>
            <div class="channelDescription-text">
                <span class="channel-description">{{ data.description }}</span>
            </div>
        </div>
        <div class="line" [ngClass]="{ 'editMode': editDescriptionMode }"></div>
        <div class="createdBy">
            <span class="createdBy-text">Erstellt von</span>
            @if(data.name === 'Team') {
                <img src="/assets/img/logo_name.svg" class="logo">
            } @else {
                <span class="createdBy-data">{{ channelAuthorName }}</span>
            }
        </div>
    </div>
    <div class="members-list-container">
        <div class="member-list-title-box">
            <span class="member-list-title">Mitglieder</span>
        </div>
        <div class="member-list-content-box">
            <ul class="members-list">
                @for (member of data.members; track $index) {
                <li class="member" (click)="openUserProfile(member)">
                    <img [src]="member.avatarSrc"><span>{{member.name}}</span>
                </li> 
                }
            </ul>
        </div>
        <button type="button" class="members-list-btn" (click)="openAddMembers()" [disabled]="loading">
            <span class="material-icons-outlined icon">person_add_alt</span><span class="icon-text">Mitglieder hinzufügen</span>
        </button>
    </div>
    <div class="leaveChannelBtn">
        @if(data.members.length > 1) {
            <button type="submit" class="form-btn-primary" (click)="leaveChannel()" [disabled]="data.name === 'Team'" || loading>Channel verlassen</button>
        } @else {
            <button type="submit" class="form-btn-primary-warning" (click)="onDeleteChannelSubmit()" [disabled]="data.name === 'Team'" || loading>Channel löschen</button>
        }
    </div>
</div>

