<div class="userCard">
    <div class="head">
        <p>Profil</p>
        <a (click)="closeDialog()" class="black-to-blue-btn">
            <img src="/assets/img/icons/close.svg" />
        </a>
    </div>
    <div class="profileImg defaultPic">
        <img class="#" src="{{ mainUser.avatarSrc || '/assets/img/avatar/empty_avatar.svg' }}" />
    </div>
    <div class="imgedit black-to-blue-btn">
        <img src="/assets/img/icons/edit.svg" (click)="openEditAvatar()" >
    </div>
    <div class="userName">
        <div class="nameAndEdit">
            <p class="name">{{ mainUser.name || '...'}}</p>
            <p class="edit" (click)="openEditProfile(mainUser)"><span>Bearbeiten</span><img src="/assets/img/icons/edit.svg" ></p>
        </div>
        <div class="online-status">
            <app-activity-state-dot [user]="mainUser" />
            @if (activityService.getUserState(mainUser) == 'active') {
                <p class="status-text online">Aktiv</p>
            } @else if (activityService.getUserState(mainUser) == 'idle') {
                <p class="status-text idle">Abwesend</p>
            } @else {
                <p class="status-text offline">Offline</p>
            }
        </div>
    </div>
    <div class="emailContainer">
        <div class="email">
            <img src="/assets/img/userProfileImg/mail.png" />
            <p>E-Mail-Adresse</p>
        </div>
        <div class="showEmail">
            <p>{{ mainUser.email || 'vorname.name@beispiel.de' }}</p>
        </div>
    </div>
