<div class="userCard">
  <div class="head">
    <p>Profil</p>
    <div class="close-thread-btn" (click)="closeCard()">
      <span class="material-icons-outlined">close</span>
 
    </div>
  </div>
  <div class="profileImg">
    <img class="#" src="../../assets/img/userProfileImg/Sofia Müller.png" />
  </div>
  <div class="userName">
    <h1>Sofia Müller</h1>
    <div class="online">
      <p></p>
      <p>Aktiv</p>
    </div>
  </div>
  <div class="emailContainer">
    <div class="email">
      <img src="../../assets/img/userProfileImg/mail.png" />
      <p>E-Mail-Adresse</p>
    </div>
    <div class="showEmail">
      <p>sofia.muel&#64;beispiel.com</p>
    </div>
  </div>
  <div class="submit-btns">
    <a routerLink="/direct-message/:id">
    <button class="form-btn-primary" (click)="closeCard()">
      Nachricht
      <img src="../../assets/img/userProfileImg/mode_comment.png" />
    </button>
  </a>
  </div>
</div>
