::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 30px !important;
}

*:focus {
    outline: none;
}

@import "../../styles.scss";

.userCard {
    padding: 40px;
    width: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 45px;

    .head {
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: 24px;
            font-weight: 700;
            margin: 0;
        }

        .close-card-btn {
            color: rgb(0, 0, 0, 1);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 8px;
            cursor: pointer;

            &:hover {
                color: $purple-blue-bright;
                background-color: $violet-bright;
                border-radius: 20px;
            }
        }
    }

    .profileImg {
        width: 100%;
        display: flex;
        justify-content: center;

        img {
            width: 200px;
            height: 200px;
            border-radius: 100%;
        }
    }

    .profile-content {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        @include scrollbar();
        .userName {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 15px;
    
            h1 {
                margin-block-end: 0;
                font-family: 'Nunito', sans-serif;
                font-size: 32px;
                font-weight: 700;
                overflow: hidden;
                word-break: break-word;
            }
    
            .online {
                height: 27px;
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                gap: 15px;
    
                app-activity-state-dot {
                    width: 16px;
                    height: 16px;
                }
    
                .status-text {
                    font-weight: 400;
                    font-size: 20px;
                    margin-block-end: 0;
    
                    &.online {
                        color: $onlinedot-online;
                    }
    
                    &.idle {
                        color: #c8c82e;
                    }
                }
            }
        }
    
        .emailContainer {
            width: 100%;
            height: 70px;
            display: flex;
            flex-direction: column;
            gap: 15px;
    
            .email {
                display: flex;
                gap: 20px;
    
                img {
                    width: 25px;
                    height: 20px;
                }
    
                p {
                    font-size: 20px;
                    font-weight: 700;
                    margin-block-end: 0;
                }
            }
    
            .showEmail {
                margin-left: 50px;
    
                p {
                    margin-block-end: 0;
                    color: #1381FF;
                    font-size: 18px;
                    font-weight: 400;
                    overflow: hidden;
                    word-break: break-word;
                }
            }
        }
    }

    .submit-btns {
        display: flex;
        justify-content: center;

        a {
            border-radius: 25px;
            text-decoration: none;
        }

        button {
            width: 164px;
            display: flex;
            flex-direction: row-reverse;
            gap: 10px;
        }
    }
}

@media screen and (max-width: 768px) {
    .userCard {
        width: 398px;
        height: 705px;

        .showEmail {
            display: flex;
            justify-content: center;
            margin-left: 0px !important;
        }
    }
}

@media screen and (max-width: 520px) {
    .userCard {
        width: 300px;
        height: 630px;

        .profileImg img {
            width: 150px;
            height: 150px;
        }
    }
}

@media screen and (max-width: 400px) {
    .userCard {
        padding: 20px;
        width: auto;
        height: calc(100% - 32px);
        gap: 15px;
        .profileImg img {
            width: 150px;
            height: 150px;
        }
        .profile-content {
            .userName {
                h1 {
                    font-size: 20px;
                    line-height: 100%;
                }
            }
        }
    }
}