<div class="content-wrapper">
  <form
    class="content-main content-card"
    (ngSubmit)="saveAvatar()"
    #pickAvatarForm="ngForm"
  >
    <h1>Wähle einen Avatar</h1>
    <div class="avatar-picker">
      @for (i of ['00','01','02','03','04','05']; track i) {
      <div class="avatar-container" (click)="selectDefaultAvatar(i)">
        <img src="assets/img/avatar/avatar_{{ i }}.svg" alt="Avatar {{ i }}" />
      </div>
      }
    </div>
    <div class="upload-avatar-container">
      <span>eigenes Bild verwenden</span>
      <input
        type="file"
        #fileInput
        name="fileInput"
        style="display: none"
        ngModel
        (change)="onCustomSelection($event)"
        accept="image/*"
      />
      <button
        type="button"
        class="form-btn-secondary"
        (click)="fileInput.click()"
        [disabled]="loading"
      >
        Datei hochladen
      </button>
      @if(fileError) {
      <p class="error-msg">
        {{ fileError }}
      </p>
      }
    </div>
    <div class="submit-btns">
      <button type="submit" class="form-btn-primary">Speichern</button>
    </div>
  </form>
</div>
