<div class="message-container">
    <div class="reaction-bar-container">
        <!-- <button>
            <span class="reaction-icon">👍</span>
        </button> -->
        <button>
            <span class="material-icons-outlined">add_reaction</span>
        </button>
        <button>
            <span class="material-icons-outlined">insert_comment</span>
        </button>
        <button>
            <span class="material-icons-outlined">more_verti</span>
        </button>
    </div>
    <div class="img-container">
        <img src="/assets/img/avatar/avatar.svg" alt="Avatar">
    </div>
    <div class="message-content">
        <div class="user-name-container">
            <div class="user-name">Noah Braun</div>
            <span>15:32 Uhr</span>
        </div>
        <div class="message">
            <div class="message-text">Welche Version ist aktuell von Angular?</div>
        </div>
        <div class="message-answers">
            <button>2 Antworten</button>
            <span>Letzte Antwort 14:56</span>
        </div>
        <div class="reactions-container">
            <div class="reaction">
                <div class="reaction-info">
                    <div class="reaction-info-emoji">😱</div>
                    <div class="reaction-info-name">Max Musterman</div>
                    <div class="reaction-info-sub-info">hat reagiert</div>
                </div>
                <div class="emoji">😱</div>
                <span>1</span>
            </div>
            <div class="reaction">
                <div class="reaction-info">
                    <div class="reaction-info-emoji">🚀</div>
                    <div class="reaction-info-name">Max Musterman</div>
                    <div class="reaction-info-sub-info">hat reagiert</div>
                </div>
                <div class="emoji">🚀</div>
                <span>1</span>
            </div>
            <button class="add-emoji-btn">
                <span class="material-icons-outlined icon">add_reaction</span>
            </button>
        </div>
    </div>
</div>