<div *ngIf="post" class="message-container" [class.reversed]="!messageSender">
    <div class="reaction-bar-container" *ngIf="!isMainPostThread">
        <button>
            <span (click)="onShowEmojiPicker()" class="material-icons-outlined">add_reaction</span>
        </button>
        <button (click)="onOpenNewThread()">
            <span class="material-icons-outlined">insert_comment</span>
        </button>
        <button>
            <span class="material-icons-outlined">more_vert</span>
        </button>
    </div>
    <div class="img-container">
        <img [src]="currentUser?.avatarSrc" alt="Avatar">
    </div>
    <div class="message-content">
        <div class="user-name-container">
            <div class="user-name" (click)="openUserProfile(post.user_id)">{{currentUser?.name}}</div>
            <span>{{timeService.toClock(post.date)}} Uhr</span>
        </div>
        <div class="message">
            <div class="message-text">{{ post.message }}</div>
        </div>
        <div class="message-answers">
            <button>{{ post.thread.posts.length }} Antworten</button>
            <span *ngIf="lastReply">Letzte Antwort {{timeService.toRelativeDateWithClock(lastReply)}}</span>
        </div>
        <div class="reactions-container" *ngIf="groupedEmojis && currentUser && !isMainPostThread">
            <div *ngFor="let emoji of objectKeys(groupedEmojis)" class="reaction">
                <div class="reaction-info">
                    <div class="reaction-info-emoji">{{ emoji }}</div>
                    <div class="reaction-info-name">
                        <div class="info-name" *ngFor="let user of groupedEmojis[emoji].users">{{ user }}</div>
                    </div>
                    <div class="reaction-info-sub-info">hat reagiert</div>
                </div>
                <div class="reaction-emoji-container" (click)="onHandleReaction(emoji)">
                    <div class="emoji">{{ emoji }}</div>
                    <span>{{ groupedEmojis[emoji].count }}</span>
                </div>
            </div>

            <button class="add-emoji-btn" (click)="onShowEmojiPicker()">
                <span class="material-icons-outlined icon">add_reaction</span>
            </button>
        </div>
    </div>
</div>
<div class="emoji-container" *ngIf="emojiPicker" (click)="onShowEmojiPicker()">
    <emoji-mart title="Pick your emoji…" appClickStopPropagation (emojiClick)="onAddReaction($event)"
        emoji="point_up"></emoji-mart>
</div>