<div class="content-wrapper">
    <form class="content-main content-card" (ngSubmit)="onSubmit(resetPwForm)" #resetPwForm="ngForm">
        <h1>
            Passwort <br class="d-640" />zurücksetzen
            <div class="back-btn-container">
                <a routerLink="/auth/logIn" class="black-to-blue-btn">
                    <img src="assets/img/icons/go_back_arrow.svg" alt="go back">
                </a>
            </div>
        </h1>
        <section class="form-bottom">
            <div class="form-field bg-violet">
                <input type="password" placeholder="Neues Passwort" [(ngModel)]="passwords.password" name="password"
                    #password="ngModel" minlength="6" required>
                @if(password.touched && password.value.length == 0)
                {<p class="error-msg">
                    Bitte geben Sie ein Passwort ein.
                </p>}
                @else if(password.touched && password.value.length < 6) {<p class="error-msg">
                    Ihr Passwort muss mindestens 6 Zeichen enthalten.
                    </p>}
            </div>
            <div class="form-field bg-violet">
                <input type="password" placeholder="Neues Kennwort bestätigen"
                    [(ngModel)]="passwords.passwordConfirmation" name="passwordConfirmation"
                    #passwordConfirmation="ngModel" required>
                @if(passwordConfirmation.touched && !passwordConfirmation.valid)
                {<p class="error-msg">
                    Bitte geben Sie ein Passwort ein.
                </p>}
                @else if (password.value.length > 0 && passwordConfirmation.touched && password.value !=
                passwordConfirmation.value)
                {<p class="error-msg">
                    Ihre Kennwörter stimmen nicht überein.
                </p>}
                @else if(resetPwForm.submitted && authError)
                {<p class="error-msg">{{authError}}</p>}
            </div>
            <div class="submit-btns">
                <button type="submit" class="form-btn-primary" [disabled]="!validateForm(resetPwForm)">Passwort
                    ändern</button>
            </div>
        </section>
    </form>
    <app-toast-notification [message]="'resetPw'" [showing]="showToast" (then)="afterToast()" />
</div>