<div class="content-wrapper">
    <form class="content-main content-card" (ngSubmit)="onSubmit(resetPwForm)" #resetPwForm="ngForm">
        <h1>
            Passwort zurücksetzen
            <div class="back-btn-container">
                <a routerLink="/auth" class="black-to-blue-btn">
                    <img src="assets/img/icons/go_back_arrow.svg" alt="go back">
                </a>
            </div>
        </h1>
        <section class="form-bottom">
            <div class="form-field bg-violet">
                <input type="password" placeholder="Neues Passwort" [(ngModel)]="passwords.password" name="password"
                    #password="ngModel" required>
                @if(password.touched && !password.valid)
                {<p class="error-msg">
                    Bitte geben Sie ein Passwort ein.
                </p>}
            </div>
            <div class="form-field bg-violet">
                <input type="password" placeholder="Neues Kennwort bestätigen" [(ngModel)]="passwords.passwordConfirmation"
                    name="passwordConfirmation" #passwordConfirmation="ngModel" required>
                @if(passwordConfirmation.touched && !passwordConfirmation.valid)
                {<p class="error-msg">
                    Bitte geben Sie ein Passwort ein.
                </p>}
                @else if (password.value.length > 0 && passwordConfirmation.touched && password.value !=
                passwordConfirmation.value)
                {<p class="error-msg">
                    Ihre Kennwörter stimmen nicht überein.
                </p>}
            </div>
            <div class="submit-btns">
                <button type="submit" class="form-btn-primary" [disabled]="!validateForm(resetPwForm)">Passwort ändern</button>
            </div>
        </section>
    </form>
    <img src="assets/img/logo_name.svg" alt="DABubble" class="logo">
    <app-legal-footer></app-legal-footer>
</div>