@import "../../../../styles.scss";

.members-btn {
    box-sizing: border-box;
    padding: 3px 10px;
    width: fit-content;
    height: 46px;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    transition: color 0.2s ease, background-color 0.2s ease;
    &:hover {
        color: $purple-blue-bright;
        background-color: #eceefe;
    }
    .m-images-container {
        margin-left: 0px;
        max-width: 100px;
        height: 40px;
        display: flex;
        flex-wrap: nowrap;
        img {
            width: 40px;
            height: 40px;
            border-radius: 30px;
            border: 2px solid white;
            &:nth-child(1n+2) {
                margin-left: -10px;
            }
        }
    }
    span {
        font-size: 20px;
        font-weight: 700;
    }
}




@media  screen and (max-width: 1024px) {
    .members-btn {
        .m-images-container {
            margin-left: 20px;
            img {
                &:nth-child(1n+1) {
                    margin-left: -20px;
                }
            }
        }
    }
}

@media  screen and (max-width: 430px) {
    .members-btn {
       display: none ;
    }
}
    
    