@import "../../../../styles.scss";

.members-btn {
    box-sizing: border-box;
    padding: 3px 10px;
    width: fit-content;
    height: 46px;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    transition: color 0.2s ease, background-color 0.2s ease;
    &:hover {
        color: $purple-blue-bright;
        background-color: #eceefe;
    }
    .m-images-container {
        margin-left: 10px;
        max-width: 100px;
        height: 40px;
        img {
            width: 40px;
            height: 40px;
            border-radius: 30px;
            border: 2px solid white;
            margin-left: -10px;
        }
    }
    span {
        font-size: 20px;
        font-weight: 700;
    }
}