@import "../../styles.scss";

.container {
  width: 872px;
  height: 539px;
  background-color: white;
  // border-radius: 30px;
  // transform: translate(-50%, -50%);
  // left: 50%;
  // top: 50%;
  // position: absolute;
  // box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.form-btn-primary {
  width: 125px;

  margin-top: 20px;
  margin-left: 707px;
}

.headlineAndCloseBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 792px;
  height: 40px;
  justify-content: space-between;
  margin-left: 40px;
  margin-top: 40px;

  span {
    font-weight: 700;
    font-size: 24px;
  }
}

.explainChannel {
  width: 792px;
  height: 50px;
  display: flex;
  margin-left: 40px;
  margin-top: 20px;

  p {
    font-weight: 400;
    font-size: 18px;
  }
}

.channelName {
  display: flex;
  flex-direction: column;
  width: 792px;
  height: 105px;
  gap: 20px;
  margin-left: 40px;
  margin-top: 20px;

  span {
    font-size: 18px;
    font-weight: 700;
  }

  input {
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 30px;
    padding: 15px 20px;
    height: 60px;
    font-size: 18px;
    font-weight: 400;

    &:hover,
    &:focus {
      border: 1px solid rgba(83, 90, 241, 1);
      cursor: pointer;
    }
  }
}

.close-thread-btn {
  color: rgb(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 8px;

  &:hover {
    color: $purple-blue-bright;
    background-color: $violet-bright;
    border-radius: 20px;
  }
}

.explain {
  display: flex;
  flex-direction: column;
  width: 792px;
  height: 105px;
  gap: 20px;
  margin-left: 40px;
  margin-top: 20px;

  span:nth-child(1) {
    font-size: 18px;
    font-weight: 700;
  }

  span:nth-child(2) {
    color: rgba(104, 104, 104, 1);
  }

  input {
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 30px;
    padding: 15px 20px;
    height: 60px;
    font-size: 18px;
    font-weight: 400;

    &:hover,
    &:focus {
      border: 1px solid rgba(83, 90, 241, 1);
      cursor: pointer;
    }
  }

}

@media screen and (max-width: 768px) {
  .container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
  }

  .explain{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    width: unset;
  }
  .channelName{
    margin-left: 20px;
    margin-right: 20px;
    width: unset;

  }

  .headlineAndCloseBtn{
    width: unset;
    margin-left: 20px;
    margin-right: 20px;
  }

  .explainChannel{
    width: unset;
    margin-left: 20px;
    margin-right: 20px;
    height: unset;

  }

  .addChannelBtn{
    margin-top: 25px;
    position: absolute;
    right: 20px;
  }
}