<form class="container" (ngSubmit)="onSubmit(addChannelForm)" #addChannelForm="ngForm">
  <div class="headlineAndCloseBtn">
    <span>Channel erstellen</span>
    <button type="button" class="close-thread-btn" (click)="onCancel()">
      <span class="material-icons-outlined">close</span>
    </button>
  </div>
  <div class="explainChannel">
    <p>
      Channels dienen deinem Team zur Kommunikation. Am besten sollten sie
      themenbezogen sein<br />
      #marketing zum Beispiel.
    </p>
  </div>
  <div class="channelName">
    <span>Channel-Name</span>
    <input type="text" placeholder="# &nbsp; z.B. Kooperationsprojekte" [(ngModel)]="channel.name" name="name"
      #name="ngModel" required />
  </div>
  <div class="explain">
    <div>
      <span>Beschreibung</span><span> (optional)</span>
    </div>
    <input type="text" placeholder="Dein Text hier" [(ngModel)]="channel.description" name="description"
    #description="ngModel" />
  </div>
  <div class="addChannelBtn">
    <button type="submit" class="form-btn-primary" [disabled]="!name.valid">Erstellen</button>
  </div>
</form>