@import "../../styles.scss";

.memberCard {
    position: fixed;
    padding: 40px;
    width: 415px;
    height: 411px;
    border-radius: 30px;
    background-color: #fff;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    .headline-close-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title-box {
            font-size: 24px;
            font-weight: 700;
        }
        .close-thread-btn {
            height: 40px;
            width: 40px;
            border-radius: 99px;
            display: grid;
            place-items: center;
            &:hover {
                color: $purple-blue-bright;
                background-color: $violet-bright;
            }
        }
    }
    .member-list-container {
        position: relative;
        height: calc(100% - 40px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
        .members-list-box {
            @include scrollbar();
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            gap: 15px;
            flex-grow: 1;
            .member-btn-container {
                display: flex;
                flex-direction: column;
                gap: 13px;
                .member-btn {
                    position: relative;
                    padding: 4px 20px;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    &:hover {
                        color: $purple-blue-bright;
                        background-color: $violet-bright;
                        border-radius: 100px;
                        cursor: pointer;
                    }
                    img {
                        height: 50px;
                        width: 50px;
                        border-radius: 99px;
                    }
                    .member-name {
                        font-size: 18px;
                        font-weight: 400;
                    }
                    .onlinedot {
                        position: absolute;
                        content: '';
                        bottom: 4px;
                        left: 58px;
                        width: 14px;
                        height: 14px;
                        box-sizing: border-box;
                        background-color: $onlinedot-online;
                        border: 2px solid $onlinedot-border;
                        border-radius: 50%;
                        &.online {
                            background-color: $onlinedot-online;
                        }
                        &.idle {
                            background-color: #c8c82e;
                        }
                        &.offline {
                            background-color: $onlinedot-offline;
                        }
                        @media screen and (max-width: 768px) {
                            width: 14px;
                            height: 14px;
                        }
                    }
                }
            }
        }
        .add-member-btn {
            padding: 4px 29px 4px 20px;
            border-radius: 100px;
            display: flex;
            align-items: center;
            gap: 15px;
            .icon {
                width: 40px;
                height: 40px;
                background-color: $violet-bright;
                border-radius: 99px;
                display: grid;
                place-items: center;
            }
            .add-member-text {
                font-size: 18px;
                font-weight: 400;
            }
            &:hover {
                color: #535af1;
                background-color: #eceefe;
            }
        }
    }
}



