@import '../../../styles.scss';

.content {
    position: absolute;
    bottom: 56px;
    right: 56px;
    padding: 50px;
    border-radius: 30px 30px 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    animation: slide-in-from-right 250ms ease-out;
    font-size: 36px;
    font-weight: 700;
    color: white;
    background: $purple-blue-active;
    box-shadow: 0px 6px 10px 0px #00000033;
    span {
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
    }
    @media screen and (max-width: 1024px) {
        padding: 20px 30px;
        gap: 10px;
        bottom: 20px;
        right: 20px;
        font-size: 22px;
    }
    @media screen and (max-width: 408px) {
        gap: 8px;
        bottom: 10px;
        right: 10px;
        font-size: 20px;
    }
}

@keyframes slide-in-from-right {
    from {
        transform: translateX(50vw);
    }
    to {
        transform: translateX(0);
    }
}

.hide {
    display: none;
}