<div class="thread-container" [@fadeInOut]="isThreadOpen ? 'open' : 'closed'">
    <div class="thread-header">
        <div class="thread-title-box">
            Thread
            <span># {{ channelData?.name }}</span>
        </div>
        <button class="close-thread-btn" (click)="onClose()">
            <span class="material-icons-outlined">close</span>
        </button>
    </div>
    <div class="thread-content">
        <div class="thread-message">
            <app-time-separator [timestamp]="post.date" *ngIf="post" />
            <app-message-item [postUid]="post?.user_id!" [post]="post!" [isMainPostThread]="true"
                [messageSender]="isCurrentUserAuthor(post?.user_id!)" [ComeFromThread]="true" />
            <div class="antworten-separator">{{ post?.thread?.posts?.length }} Antworten</div>
        </div>
        @if(post && post.thread) {
        @for (thPost of post.thread.posts; track thPost; let i = $index) {
        <div class="thread-antworten">
            @if(i == 0) {
            <app-time-separator [timestamp]="thPost.date" [previous]="post.date" />
            } @else {
            <app-time-separator [timestamp]="thPost.date" [previous]="post.thread.posts[i - 1].date" />
            }
            <app-message-item [id]="thPost.post_id" [postUid]="thPost.user_id" [post]="thPost"
                [messageSender]="isCurrentUserAuthor(thPost.user_id)" [ComeFromThread]="true" [isThreadOpen]="true" />
        </div>
        }
        }
    </div>
    <app-message-box [replying]="true" (sent)="onCreatePost($event)" [inThread]="true"
        [channel]="channel || undefined" />
</div>