<div class="thread-container">
    <div class="thread-header">
        <div class="thread-title">
            Thread
            <span># Entwicklerteam</span>
        </div>
        <button class="close-thread-btn">
            <span class="material-icons-outlined">close</span>
        </button>
    </div>
    <div class="thread-content">
        <div class="thread-message">
            <app-message-item [isMainPostThread]="true" [post]="post()" [hideEmojiPicker]="emojiPicker" [messageSender]="true"
                [hideEmojiPicker]="emojiPicker" (showEmojiPicker)="handleStateChange($event)" />
            <div class="antworten-separator">2 Antworten</div>
        </div>

        <div class="thread-antworten">
            <app-message-item [hideEmojiPicker]="emojiPicker" (showEmojiPicker)="handleStateChange($event)"
                [messageSender]="false" />
        </div>
    </div>
    <app-message-box />
    <emoji-mart title="Pick your emoji…" emoji="point_up" *ngIf="emojiPicker"></emoji-mart>
</div>