<div class="thread-container">
    <div class="thread-header">
        <div class="thread-title">
            Thread
            <span># {{ channelData?.name }}</span>
        </div>
        <button class="close-thread-btn" (click)="onClose()">
            <span class="material-icons-outlined">close</span>
        </button>
    </div>
    <div class="thread-content">
        <div class="thread-message">
            <app-message-item [postUid]="post?.user_id!" [post]="post!" [isMainPostThread]="true"
                [messageSender]="true" />
            <div class="antworten-separator">{{ threadPosts?.length }} Antworten</div>
        </div>
        @for (thPost of threadPosts; track $index) {
        <div class="thread-antworten">
            <app-message-item [postUid]="thPost.user_id" [post]="thPost" [messageSender]="false" />
        </div>
        }
    </div>
    <app-message-box [replying]="true" (sent)="onCreatePost($event)" />
</div>