<div class="content-wrapper">
    <img src="assets/img/logo_name.svg" alt="DABubble" class="logo">
    <div class="content-main content-card">
        <a (click)="historyBack()" class="goback black-to-blue-btn" [ngClass]="{'hide': hideBackBtn}">
            <img src="assets/img/icons/go_back_arrow.svg" alt="go back">
        </a>
        <h1>Datenschutz</h1>
        <div class="content-scrollbox">
            <h2>Allgemeine Hinweise</h2>
            <p>
                Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit
                Ihren personenbezogenen Daten passiert, wenn Sie diese Internetseiten besuchen.
                Personenbezogene Daten sind alle Daten, mit denen Sie persönlich
                identifiziert werden können. Ausführliche Informationen zum Thema
                Datenschutz entnehmen Sie diesen unter diesem Text aufgeführten
                Datenschutzhinweisen.
            </p>
            <h2>Verantwortlich</h2>
            <p>
                Die Datenverarbeitung auf diesen Internetseiten erfolgt durch den Betreiber der Internetseiten.
                Kontaktdaten:
            </p>
            <h3 class="black">Alexander Leitermann</h3>
            <p>Grünwalder Str. 69a<br>
                81547 München
            </p>
            <p class="email">E-Mail: kontakt<span>&nbsp;</span>&commat;<span>&nbsp;</span>leitermann.online</p>
        
            <h2>Art der Daten</h2>
            <h3>1. Nutzung der Internetseite</h3>
            <p>Bei jedem Aufruf dieser Internetseiten werden automatisch Daten und 
                Informationen vom Computersystem des aufrufenden Geräts erfasst. Dies 
                sind z. B. Informationen wie:
            </p>
            <ul>
                <li>Informationen über den Typ und die Version Ihres Internet-Browsers</li>
                <li>Das Betriebssystem Ihres Computers oder Smartphones</li>
                <li>Ihr Internet-Anbieter</li>
                <li>Ihre IP-Adresse</li>
                <li>Datum und Uhrzeit des Zugriffs</li>
                <li>Geografischer Standort</li>
                <li>Internetseiten, von denen Sie zu mir gekommen sind</li>
                <li>Internetseiten, die Sie von meinen Internetseiten aus besuchen</li>
            </ul>
            <p>Derartige technische Informationen werden in sogenannten "Log Files" (Protokolldateien)
                erfasst, damit die Internetseiten korrekt bei Ihnen angezeigt werden und bei 
                technischen Problemen die Ursachen ermittelt werden können. Ebenso dienen diese 
                Informationen der technischen Optimierung der Internetseiten und dem Zweck der 
                Sicherheit der Serversysteme und Netze. In diesen Zwecken liegt auch ein berechtigtes 
                Interesse an der Datenverarbeitung nach Art. 6 Abs. 1 S. 1 lit. f DSGVO.
            </p>
            <p>Die Erfassung der Daten zur Bereitstellung der Internetseiten und die Speicherung der Daten 
                in Log Files ist für den Betrieb der Internetseiten zwingend erforderlich.
            </p>
            <h3>2. Kontaktformular</h3>
            <p>Mit dem Kontaktformular werden folgende personenbezogene Daten erhoben:<p>
            <ul>
                <li>Name - Ihren Namen (Vorname, Name) für die korrekte Anrede in der Kommunikation mit Ihnen</li>
                <li>E-Mail Adresse - Ihre gültige elektronische Adresse, damit Sie eine Antwort erhalten können</li>
                <li>Passwort - Ein gültiges Passwort, welches für den erfolgreichen Login benötigt wird.</li>
                <li>Profilbild (optional) - Ein Bild, welches anderen Nutzern erlaubt, Sie rasch und eindeutig zu erkennen</li>
            </ul>
            <p>Die Rechtsgrundlage für die Datenverarbeitung ist Art. 6 Abs. 1 lit. f DSGVO, da der Betreiber ein 
                berechtigtes Interesse an der Beantwortung Ihres Anliegens und an einer unkomplizierten 
                Kontaktaufnahme-Möglichkeit hat.
            </p>
            
            <h2>Umgang</h2>
            <p>Der Betreiber verarbeitet personenbezogene Daten grundsätzlich nur, soweit dies zur 
                Bereitstellung einer funktionsfähigen Internetseite sowie deren Inhalte 
                erforderlich ist. Die Verarbeitung von personenbezogenen Daten erfolgt 
                regelmäßig nur nach Einwilligung. Eine Ausnahme gilt für Fälle, in denen 
                eine vorherige Einwilligung aus tatsächlichen Gründen nicht eingeholt 
                werden kann und die Verarbeitung der Daten gesetzlich zulässig ist.
            </p>
        
            <h2>Rechtsgrundlage</h2>
            <p>Soweit der Betreiber für Verarbeitungsvorgänge personenbezogener Daten eine Einwilligung der 
                betroffenen Person eingeholt hat, dient Art. 6 Abs. 1 S. 1 lit. a DSGVO als Rechtsgrundlage.
            </p>
            <p>Soweit eine Verarbeitung personenbezogener Daten zur Erfüllung einer rechtlichen Verpflichtung 
                erforderlich ist, der der Betreiber unterliegt, dient Art. 6 Abs. 1 S. 1 lit. c DSGVO als Rechtsgrundlage.
            </p>
            <p>Ist die Verarbeitung zur Wahrung eines berechtigten Interesses vom Betreiber oder eines Dritten 
                erforderlich und überwiegen die Interessen, Grundrechte und Grundfreiheiten des Betroffenen 
                das erstgenannte Interesse nicht, so dient Art. 6 Abs. 1 S. 1 lit. f DSGVO als 
                Rechtsgrundlage für die Verarbeitung.
            </p>
        
            <h2>Speicherdauer</h2>
            <p>Die personenbezogenen Daten welche in den IONOS WebAnalytics (Hosting-Dienstleister) 
                anonymisiert und ohne Personenbezug in den Log Files verarbeitet werden, bleiben wenigstens 
                für die Dauer der Beauftragung durch den Betreiber gespeichert.
            </p>
            <p>Die erhobenen personenbezogenen Daten aus dem Kontaktformular sowie aus direkt empfangenen E-Mails
                werden für die Dauer der Kommunikation mit Ihnen gespeichert. 
            </p>
            <p>Sind die Daten für den vorgesehenen Zweck nicht mehr erforderlich, müssen diese gemäß Art. 17 DSGVO 
                unverzüglich gelöscht werden. Die Speicherdauer kann abhängig von der Art der Daten durch andere 
                Vorschriften und Gesetze vorgeschrieben und länger sein. 
            </p>
        
            <h2>Ihre Rechte</h2>
            <p>Wenn der Betreiber Ihre personenbezogenen Daten verarbeitet, gelten Sie als Betroffener gemäß 
                der DSGVO und es stehen Ihnen – nach erfolgreicher Identifizierung – folgende 
                Rechte gegenüber dem Betreiber zu:
            </p>
            <ul>
                <li>Auskunftsrecht (Artikel 15 DSGVO, § 34 BDSG)</li>
                <li>Recht auf Löschung (Artikel 17 DSGVO, § 35 BDSG)</li>
                <li>Recht auf Berichtigung (Artikel 16 DSGVO, § 34 BDSG)</li>
                <li>Recht auf Einschränkung der Verarbeitung (Artikel 18 DSGVO)</li>
                <li>Recht auf Datenübertragbarkeit (Artikel 20 DSGVO)</li>
                <li>Recht, Ihre Einwilligung jederzeit zu widerrufen (Artikel 7 Abs. 3 DSGVO)</li>
                <li>Widerspruchsrecht (Artikel 21 DSGVO)</li>
            </ul>
            <p>Um Ihre hier beschriebenen Rechte auszuüben, können Sie den Betreiber jederzeit unter den unter 
                „Verantwortlich” aufgeführten Kontaktdaten kontaktieren.
            </p>
            <p>Sie können jederzeit eine Beschwerde bei einer Aufsichtsbehörde über die Erhebung und 
                Verarbeitung Ihrer personenbezogenen Daten durch <span class="color">dabubble-257.developerakademie.net</span> 
                einreichen (Beschwerderecht nach Art. 77 DSGVO). Sie können sich an die Datenschutzbehörde Ihres Wohnsitzes wenden, die 
                Ihren Antrag dann an die zuständige Behörde weiterleiten wird.
            </p>
        
            <h2>Gewährleistung des Schutzes</h2>
            <p>Der Betreiber von <span class="color">dabubble-257.developerakademie.net</span> sorgt durch sein Handeln
                und mit technischen Möglichkeiten für die sichere Verwahrung der personenbezogenen Daten.
                Der Hosting-Dienstleister verwendet technische Maßnahmen zum Schutz der erhobenen Daten für 
                die Log Files.
            </p>
        
            <h2>Links von Dritten</h2>
            <p>Gelegentlich kann der Betreiber nach eigenem Ermessen Produkte oder Dienste von Dritten auf diesen 
                Internetseiten anbieten. Diese Internetseiten von Drittanbietern verfügen über separate, 
                unabhängige Datenschutzrichtlinien. Der Betreiber von <span class="color">dabubble-257.developerakademie.net</span> 
                übernimmt daher keine Verantwortung oder Haftung für den Inhalt und die Aktivitäten dieser 
                verlinkten Internetseiten. Trotzdem wird versucht, die Integrität der eigenen Internetseiten zu schützen 
                und der Betreiber begrüßt jedes Feedback zu den verlinkten Internetseiten.
            </p>
        
            <h2>Tools von Drittanbietern</h2>
            <h3>Hosting</h3>
            <p>Diese Internetseiten werden im Auftrag bei einem Hoster zum Abruf bereitgestellt. Der Hosting-Dienstleister ist:</p>
            <p>IONOS SE</p>
            <p>Elgendorfer Str. 57 <br>
                56410 Montabaur <br>
            &nbsp;</p>
            <h3>WebAnalytics</h3>
            <p>Die unter "Art der Daten" genannten Daten zu Punkt 1 werden von diesem 
                Dienstleister unter dem Namen "WebAnalytics" in den erwähnten Log Files verarbeitet. Die IP-Adresse 
                wird nach der Übermittlung Direkt anonymisiert und ohne Personenbezug verarbeitet. Zum Schutz von 
                personenbezogenen Daten verwendet WebAnalytics keine Cookies.
            </p>
        
            <h2>Datenweitergabe</h2>
            <p>In einigen wenigen Fällen wird der Betreiber vom Gesetzgeber zur Auskunft verpflichtet für Zwecke 
                der Strafverfolgung an Strafverfolgungsbehörden und Gerichte.
            </p>
            <p>Rechtsgrundlage für diese Verarbeitung ist Art. 6 Abs. 1 lit. c DSGVO.</p>
        
            <h2>Hinweis zur Datenweitergabe in die USA</h2>
            <p>Auf unserer Website sind unter anderem Tools von Unternehmen mit Sitz in den USA eingebunden. 
                Wenn diese Tools aktiv sind, können Ihre personenbezogenen Daten an die US-Server der jeweiligen Unternehmen weitergegeben werden. 
            </p>
            <p>Wir weisen darauf hin, dass die USA kein sicherer Drittstaat im Sinne des EU-Datenschutzrechts sind. US-Unternehmen sind dazu verpflichtet, 
                personenbezogene Daten an Sicherheitsbehörden herauszugeben, ohne dass Sie als Betroffener hiergegen gerichtlich vorgehen könnten.
            </p>
            <p>Es kann daher nicht ausgeschlossen werden, dass US-Behörden (z.B. Geheimdienste) Ihre auf US-Servern befindlichen Daten zu Überwachungszwecken 
                verarbeiten, auswerten und dauerhaft speichern. Wir haben auf diese Verarbeitungstätigkeiten keinen Einfluss.
            </p>
        </div>
    
    </div>
</div>
