<section class="main-container">
    <div class="main-header">
        <button class="channel-btn"># Entwicklerteam <img src="/assets/img/icons/keyboard_arrow_down.svg"
                alt="Keyboard Arrow Down"></button>
        <div class="main-header-members">
            <button class="members-btn">
                <div class="m-images-container">
                    <img src="/assets/img/avatar/avatar.svg" alt="Avatar">
                    <img src="/assets/img/avatar/avatar.svg" alt="Avatar">
                    <img src="/assets/img/avatar/avatar.svg" alt="Avatar">
                </div>
                <span>3</span>
            </button>
            <button class="add-members-btn">
                <img src="/assets/img/icons/add_members.svg" alt="Add Members">
            </button>
        </div>
    </div>

    <app-time-separator />

    <div class="message-container">
        <div class="img-container">
            <img src="/assets/img/avatar/avatar.svg" alt="Avatar">
        </div>
        <div class="message-content">
            <div class="user-name">Noah Braun</div>
            <div class="message">Welche Version ist aktuell von Angular?</div>
            <div class="message-footer">
                <button>2 Antworten</button>
                <span>Letzte Antwort 14:56</span>
            </div>
        </div>
    </div>

    <app-time-separator />

</section>