@import "../../../styles";


.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.logo-wrapper {
    padding-top: 25px;
    padding-left: 45px;
    padding-bottom: 20px;
    min-width: 386px;
    width: 386px;
    display: flex;
    flex-direction: row;
    img {
        height: 70px;
        width: auto;
    }
}

.searchbar-wrapper {
    width: 100%;
    .searchbar-box {
        padding-left: 45px;
        padding-right: 45px;
        height: 70px;
        background-color: #fff;
        border-radius: 35px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        input {
            width: 100%;
            font-size: 24px;
            &::placeholder {
                color: $grey;
            }
        }
    }
}

.userprofile-wrapper {
    min-width: 505px;
    width: 505px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    &:hover {
        color: $purple-blue-brighter;
    }
    span {
        font-size: 32px;
        font-weight: 700;
    }
}

.userprofile-image-box {
    img {
        width: 70px;
        height: 70px;
        border-radius: 999px;
    }
}