@import "../../../styles";


.header-wrapper {
    padding: 25px 34px 20px 50px;
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    @media screen and (max-width: 768px) {
        padding: 15px 16px;
        height: 80px;
    }
}

app-animation-intro {
    position: fixed;
    inset: 0;
    z-index: 10;
}

.logo-wrapper {
    z-index: 999;
    min-width: 336px;
    width: 336px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    img {
        height: 70px;
        width: auto;
        @media screen and (max-width: 1024px) {
            height: 56px;
        }
        @media screen and (max-width: 768px) {
            height: 45px;
        }
    }
}

.searchbar-wrapper {
    width: 100%;
    .searchbar-box {
        padding-left: 45px;
        padding-right: 45px;
        height: 70px;
        background-color: #fff;
        border-radius: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        input {
            width: 100%;
            font-size: 24px;
            &::placeholder {
                color: $grey;
            }
        }
        .searchbar-icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    @media screen and (max-width: 1024px) {
        display: none;
    }
}

.userprofile-wrapper {
    min-width: 505px;
    max-width: 505px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    &:hover {
        color: $purple-blue-brighter;
        .userprofile-menu-box {
            img {
                content: url('/assets/img/icons/dropdown_arrow_hover.svg');
            }
        }
    }
    span {
        font-size: 32px;
        font-weight: 700;
    }
    @media screen and (max-width: 1440px) {
        min-width: calc((100% - 410px)/2);
    }
    @media screen and (max-width: 1024px) {
        min-width: auto;
        width: fit-content;
    }
}

.userprofile-name {
    height: fit-content;
    line-height: 100%;
    text-align: right;
	overflow: hidden;
	display: -webkit-box;
    line-clamp: 1;
	-webkit-line-clamp: 1;
	-webkit-box-orient: horizontal; 
    @media screen and (max-width: 1024px) {
        display: none;
    }
}

.userprofile-image-box {
    position: relative;
    img {
        width: 70px;
        height: 70px;
        border-radius: 999px;
        box-sizing: border-box;
        @media screen and (max-width: 768px) {
            width: 50px;
            height: 50px;
        }
    }
    .onlinedot {
        position: absolute;
        content: '';
        bottom: 6px;
        right: 0px;
        width: 17px;
        height: 17px;
        box-sizing: border-box;
        background-color: $onlinedot-online;
        border: 2px solid $onlinedot-border;
        border-radius: 50%;
        &.online {
            background-color: $onlinedot-online;
        }
        &.idle {
            background-color: #c8c82e;
        }
        &.offline {
            background-color: $onlinedot-offline;
        }
        @media screen and (max-width: 768px) {
            width: 14px;
            height: 14px;
        }
    }
}

.userprofile-menu-box {
    img {
        width: 30px;
        height: 30px;
    }
    @media screen and (max-width: 1024px) {
        display: none;
    }
}
