<div class="header-wrapper">
    <!-- <app-animation-intro [pause]="introService.awaitingAppInit" (then)="introService.onAnimationComplete()" *ngIf="!introService.afterAnimationPlusTimeout" />
    <a href="" class="logo-wrapper" [ngClass]="{'transparent': !introService.afterAnimation}">
        <img src="/assets/img/logo_name.svg" alt="DABubble" class="logo">
    </a> -->
    <a href="" class="logo-wrapper">
        <img src="/assets/img/logo_name.svg" alt="DABubble" class="logo">
    </a>
   <app-search [mainUser]="mainUser" [users]="users" [userChannels]="userChannels" />
    <div class="userprofile-wrapper" (click)="openUserLogoutCard()">
        <span class="userprofile-name">{{ mainUser.name || '...' }}</span>
        <div class="userprofile-image-box">
            <img src="{{ mainUser.avatarSrc || '/assets/img/avatar/empty_avatar.svg' }}">
            <app-activity-state-dot [user]="mainUser" />
        </div>
        <div class="userprofile-menu-box">
            <img src="/assets/img/icons/dropdown_arrow.svg">
        </div>
    </div>
</div>