<div class="header-wrapper">
    <a href="" class="logo-wrapper" [class.hide]="usersService.mainChatViewState != 'workspace'">
        <img src="/assets/img/logo_name.svg" alt="DABubble" class="logo">
    </a>
    <button class="logo-btn" (click)="usersService.mobileBackBtn()" [class.show]="usersService.mainChatViewState != 'workspace'">
        <img src="/assets/img/icons/keyboard_arrow_left.svg" alt="Arrow left">
        <div class="devspace">
            <img src="/assets/img/workspace_logo.svg" alt="Workspace Logo">
            <span>Devspace</span>
        </div>
    </button>
    <app-search [mainUser]="mainUser" [users]="users" [userChannels]="userChannels" />
    <div class="userprofile-wrapper" (click)="openUserLogoutCard()">
        <span class="userprofile-name">{{ mainUser.name || '...' }}</span>
        <div class="userprofile-image-box">
            <img src="{{ mainUser.avatarSrc || '/assets/img/avatar/empty_avatar.svg' }}">
            <app-activity-state-dot *ngIf="mainUser.uid.length > 0" [user]="mainUser" />
        </div>
        <div class="userprofile-menu-box">
            <img src="/assets/img/icons/dropdown_arrow.svg">
        </div>
    </div>
</div>