@import "../../../styles";


.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.logo-wrapper {
    padding-top: 25px;
    padding-left: 45px;
    padding-bottom: 20px;
    min-width: 386px;
    width: 386px;
    display: flex;
    flex-direction: row;
    img {
        height: 70px;
        width: auto;
    }
}

.searchbar-wrapper {
    width: 100%;
    .searchbar-box {
        padding-left: 45px;
        padding-right: 45px;
        height: 70px;
        background-color: #fff;
        border-radius: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        input {
            width: 100%;
            font-size: 24px;
            &::placeholder {
                color: $grey;
            }
        }
        .searchbar-icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.userprofile-wrapper {
    padding-right: 35px;
    min-width: 505px;
    width: 505px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    &:hover {
        color: $purple-blue-brighter;
        .userprofile-menu-box {
            img {
                content: url('/assets/img/icons/dropdown_arrow_hover.svg');
            }
        }
    }
    span {
        font-size: 32px;
        font-weight: 700;
    }
}

.userprofile-name {
    height: fit-content;
    line-height: 100%;
    text-align: right;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: horizontal; 
}

.userprofile-image-box {
    position: relative;
    img {
        width: 70px;
        height: 70px;
        border-radius: 999px;
        box-sizing: border-box;
    }
    .onlinedot {
        position: absolute;
        content: '';
        bottom: 6px;
        right: 0px;
        width: 17px;
        height: 17px;
        box-sizing: border-box;
        background-color: $onlinedot-online;
        border: 2px solid $onlinedot-border;
        border-radius: 50%;
    }
}

.userprofile-menu-box {
    img {
        width: 30px;
        height: 30px;
    }
}
