<div class="header-wrapper">
    <div class="logo-wrapper">
        <img src="assets/img/logo_name.svg" alt="DABubble" class="logo">
    </div>
    <div class="searchbar-wrapper">
        <div class="searchbar-box">
            <input type="text" placeholder="Code learning durchsuchen">
        </div>
    </div>
    <div class="userprofile-wrapper">
        <span class="userprofile-name">Frederik Beck</span>
        <div class="userprofile-image-box">
            <img src="/assets/img/avatar/large_avatar_01.svg">
        </div>
        <div class="userprofile-menu-box">
            <img src="" alt="">
        </div>
    </div>
</div>