<div *ngIf="isChannelOpen" class="main-container">
    @if(!onInvalidOrForbiddenRoute) {
    <section class="main-section">
        <div class="main-header">
            <button class="channel-btn" (click)="onEditChannel()">
                <img src="/assets/img/icons/tag2.svg">
                <span class="channel-btn-name">{{ currentChannel.name }}</span>
                <span class="material-icons-outlined icon">keyboard_arrow_down</span>
            </button>
            <div class="main-header-members">
                <app-members-overview [channel]="currentChannel" [openTh]="openTh" />
                <button class="add-members-btn" (click)="openAddMembers()">
                    <span class="material-icons-outlined icon">person_add_alt</span>
                </button>
            </div>
        </div>
        <div class="message-items-container">
            @if(currentChannel && currentChannel.posts.length > 0 && !currentChannel.isPmChannel) {
            @for (post of currentChannel.posts; track post.post_id; let i = $index) {
            <div class="message-item-container">
                <app-time-separator [timestamp]="post.date"
                    *ngIf="i == 0 || timeService.getDifferenceInDays(post.date) != timeService.getDifferenceInDays(currentChannel.posts[i - 1].date)" />
                <app-message-item [id]="post.post_id" [post]="post" [messageSender]="isCurrentUserAuthor(i)"
                    [postUid]="getPostUid(i)" (threadId)="handleThread($event)" [isThreadOpen]="openTh" />
            </div>
            }
            } @else {
            <div class="create-channel-message-container">
                <h3>
                    <span>#</span>
                    {{ currentChannel.name }}
                </h3>
                <p>
                    @if(currentChannelAuthorName && currentChannel.author_uid != currentUid) {
                    <span>{{currentChannelAuthorName}} hat diesen Channel</span>
                    } @else if(currentChannelAuthorName) {
                    <span>Du hast diesen Channel</span>
                    } @else {
                    <span>Dieser Channel wurde</span>
                    }
                    {{ timeService.toRelativeDate(currentChannel.date) }} erstellt. Das ist der Anfang des Channels
                    <span class="channel-name"># {{ currentChannel.name }}.</span>
                </p>
            </div>
            }
        </div>
        <app-message-box [channel]="currentChannel" [inThread]="false" (sent)="onCreatePost($event)" />
    </section>
    <app-thread class="thread" *ngIf="openTh" (closeTh)="closeThread($event)" [isThreadOpen]="openTh" [post]="currPost!"
        [channelData]="{ id: this.currentChannel.channel_id, name: this.currentChannel.name, members: this.currentChannel.members}" />
    } @else {
    <section class="main-section">
        <app-forbidden-channel-feedback />
    </section>
    }
</div>