<div class="main-container">
    <section class="main-section">
        @if(currentChannel.channel_id.length > 0) {
        <div class="main-header">
            <button class="channel-btn" (click)="onEditChannel()">
                # {{ currentChannel.name }}
                <span class="material-icons-outlined icon">keyboard_arrow_down</span>
            </button>
            <div class="main-header-members">
                <button class="members-btn" (click)="openMemberList()">
                    <div class="m-images-container">
                        <img src="/assets/img/avatar/avatar.svg" alt="Avatar">
                        <img src="/assets/img/avatar/avatar.svg" alt="Avatar">
                        <img src="/assets/img/avatar/avatar.svg" alt="Avatar">
                    </div>
                    <span>3</span>
                </button>
                <button class="add-members-btn">
                    <span class="material-icons-outlined icon">person_add_alt</span>
                </button>
            </div>
        </div>
        <div class="message-items-container">
            @if(channelThreads && channelThreads.length > 0) {
            @for (thread of channelThreads; track thread; let i = $index) {
            <div class="message-item-container">
                <app-time-separator [timestamp]="thread.date"
                    *ngIf="i == 0 || timeService.toDate(thread.date) != timeService.toDate(channelThreads[i - 1].date)" />
                <app-message-item [post]="getFirstPost(thread.thread_id)" [hideEmojiPicker]="emojiPicker"
                    (showEmojiPicker)="handleEmojiStateChange($event)"
                    [messageSender]="isCurrentUserAuthor(thread.thread_id)"
                    [threadLength]="getThreadLength(thread.thread_id)" [lastReply]="getLastReplyTime(thread.thread_id)"
                    (threadId)="handleThread($event)" />
            </div>
            }
            } @else {
            <div class="create-channel-message-container">
                <h3>
                    <span>#</span>
                    {{ currentChannel.name }}
                </h3>
                <p>
                    Du hast diesen Channel {{ timeService.getRelativeDay(0) }} erstellt. Das ist der Anfang des Channels
                    <span># {{ currentChannel.name }}.</span>
                </p>
            </div>
            }
        </div>
        <app-message-box [channelName]="currentChannel.name" (sent)="createThread($event)" />
        }
    </section>
    <app-thread class="thread" *ngIf="currentPost" [post]="currentPost" />
</div>