@import "../../../styles.scss";

.main-container {
  height: 100%;
  display: flex;
  gap: 20px;
  overflow: hidden;
  border-radius: 30px;
  
  .main-section {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-grow: 4;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 30px;

    .main-header {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px 40px;
      border-radius: 30px 30px 0 0;
      box-shadow: 0px 2px 10px 0px rgb(0, 0, 0, 0.08);

        .channel-btn {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 24px;
            font-weight: 700px;
            line-height: 32.74px;
            padding: 6px 10px;
            .channel-btn-name {
                font-size: 24px;
                font-weight: 700;
            }
            &:hover {
                color: $purple-blue-bright;
                background-color: $violet-bright;
                border-radius: 100px;
            }
            img {
                margin-left: 10px;
                margin-right: 10px;
            }
        }

        .main-header-members {
            display: flex;
            align-items: center;
            gap: 10px;

        .add-members-btn {
            width: 40px;
            height: 40px;
            background-color: $violet-bright;
            // padding: 8px 10px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

          &:hover {
            color: $purple-blue-bright;
          }

          span {
            font-size: 24px;
          }
        }
      }
    }

    .message-items-container {
      width: 100%;
      height: 100%;
      margin-top: 22px;
      overflow-y: auto;
      @include scrollbar();


      .create-channel-message-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 0 45px;

        h3 {
          width: fit-content;
          font-size: 24px;
          font-weight: 700;
          line-height: 32.74px;

          &:hover {
            color: $purple-blue-bright;
          }
        }

        p {
          font-size: 20px;
          font-weight: 400;
          line-height: 27.28px;

          .channel-name {
            color: $purple-blue-bright;
          }
        }
      }
    }

    app-message-box {
      width: 90%;
    }
  }

  app-forbidden-channel-feedback {
    width: 100%;
    height: 100%;
  }

  .thread {
    max-width: 485px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 2;
  }
 }

@media screen and (max-width: 768px) {
  .main-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    .thread {
        max-width: none;
        position: relative;
    }
  }
}