@import "../../styles.scss";

.userLogOutMenu {
  position: fixed;
  right: 35px;
  top: 95px;
  background-color: transparent;
  height: 181px;
  width: 282px;
  .userLogOutContainer {
    position: relative;
    height: 181px;
    width: 282px;
    border-radius: 30px 0px 30px 30px;
    background-color: white;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    div {
      width: 222px;
      height: 53px;
      margin-left: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      outline: none;
      &:hover {
          color: $purple-blue-bright;
          background-color: $violet-bright;
          border-radius: 100px;
        }
    }
    span {
      font-weight: 600;
      font-size: 24px;
      
    }
  }
}

