@import "./fonts.scss";
@import "material-icons/iconfont/material-icons.css";
@import "@ctrl/ngx-emoji-mart/picker";

$violet-bright: #eceefe;
$purple-light: #adb0d9;
$purple-blue: #444df2;
$purple-blue-bright: #535af1;
$purple-blue-brighter: #797ef3;
$purple-blue-active: #444df2;
$grey: #686868;
$grey-light: #e6e6e6;
$magenta: #ed1e79;
$onlinedot-border: #eceefe; // this is identical to "violet-bright"
$onlinedot-online: #92c83e;
$onlinedot-offline: #686868; // this is identical to "grey"

@mixin transition($duration: 100ms) {
    transition: $duration ease;

    &:hover {
        transition: $duration ease;
    }

    &:active {
        transition: $duration ease;
    }
}

@mixin scrollbar() {
    &::-webkit-scrollbar {
        width: 14px;
        height: 18px;
    }

    &::-webkit-scrollbar-thumb {
        height: 6px;
        border: 4px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        border-radius: 7px;
        background-color: $purple-light;
        box-shadow:
            inset -1px -1px 0px rgba(0, 0, 0, 0.05),
            inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    }

    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    &:hover {
        cursor: pointer;
    }
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: "Nunito", sans-serif;
}

button,
input {
    border: none;
    outline: none;
    background: none;
}

button,
a {
    cursor: pointer;
    @include transition();

    &:disabled {
        cursor: not-allowed;
    }
}

.text-grey {
    color: $grey;
}

.bg-violet {
    background-color: $violet-bright;
}

.bg-purple-light {
    background-color: $purple-light;
}

.content-card {
    background-color: white;
    border-radius: 30px;
}

.form-btn {
    height: 49px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
    font-weight: 700;
}

.form-btn-primary {
    @extend .form-btn;
    color: white;
    background-color: $purple-blue;

    &:hover {
        background-color: $purple-blue-brighter;
    }

    &:active {
        background-color: $purple-blue-active;
    }

    &:disabled {
        background-color: $grey;
    }
}

.form-btn-secondary {
    @extend .form-btn;
    color: $purple-blue;
    border: 1px solid $purple-blue;
    background-color: white;

    &:hover {
        color: white;
        border-color: $purple-blue-bright;
        background-color: $purple-blue-bright;
    }

    &:active {
        border-color: $purple-blue-active;
        background-color: $purple-blue-active;
    }

    &:disabled {
        color: $grey;
        border-color: $grey;
        background-color: white;
    }
}

.black-to-blue-btn {
    @include transition();
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: $violet-bright;
        img {
            filter: invert(32%) sepia(31%) saturate(5534%) hue-rotate(229deg) brightness(97%) contrast(95%);
        }
    }
}

.to-black {
    @include transition();
    filter: brightness(0);
}

.link-purple {
    border-radius: 30px;
    color: $purple-blue-brighter;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;

    &:hover {
        color: $purple-blue-active;
    }
}

.link-purple-bg {
    @extend .link-purple;
    height: 32px;

    &:hover {
        @extend .bg-violet;
    }
}

.link-purple-border {
    @extend .link-purple;
    height: 42px;

    &:hover {
        border: 1px solid #adb0d9;
    }
    
    @media screen and (max-width: 1024px) {
        height: 39px;
    }
}

.mat-mdc-dialog-container._mat-animation-noopable .mdc-dialog__surface {
    border-radius: 30px;
}

.transparent {
    opacity: 0;
}

.d-640 {
    display: none;
    @media screen and (max-width: 640px) {
        display: initial;
    }
}

.error-msg {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    color: $magenta;
    font-size: 14px;
    animation: fade-in 250ms ease-out;
    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @media screen and (max-height: 800px),
    screen and (max-width: 1024px) {
        font-size: 13px;
    }
}