<form class="container" [class.show]="isOpen" [class.thread-open]="isThreadOpen" #addMembersForm="ngForm">
  <div class="headlineAndCloseBtn">
    <button class="close-thread-btn">
      <span class="material-icons-outlined" (click)="closeCard()">close</span>
    </button>
    <div>
      <span>Leute hinzufügen</span>
      <span># Entwicklerteam</span>
    </div>
   
  </div>
  <div class="inputContainer">
    <app-add-members-input [(selectedUsers)]="selectedUsers" [channel]="channel" (submit)="addUsersToMembers()"/>
    <div class="submit-btn-container">
      <button type="submit" [disabled]="selectedUsers.length === 0" (click)="addUsersToMembers()" class="form-btn-primary">
        Hinzufügen
      </button>
    </div>
  </div>
</form>