@import "../../styles.scss";

.container {
  width: 514px;
  height: 294px;
  background-color: white;
  padding: 40px 20px;
}

.submit-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .form-btn-primary {
    width: 147px;
    margin-top: 20px;
  }
}

.headlineAndCloseBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 434px;
  height: 70px;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: column;
    gap: 5px;

    span:nth-child(1) {
      font-weight: 700;
      font-size: 24px;
      height: 33px;
    }

    span:nth-child(2) {
      color: rgba(121, 126, 243, 1);
      font-size: 18px;
      font-weight: 400;
      width: 166px;
      height: 25px;
      word-spacing: 15px;
    }
  }
}

.inputContainer {
  margin-top: 20px;
  width: 100%;


  app-add-members-input {
    display: block;
    width: 100%;
  }
}