@import '../../styles.scss';

button.nav-button {
    position: absolute;
    top: 600px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    max-width: 347px;
    padding: 23px 14px;
    border-radius: 0 0 30px 30px;
    background-color: white;
    z-index: 1;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    transform: rotate(-90deg);
    transition: left 0.3s ease;

    .close {
        transform: rotate(90deg);
    }

    .open {
        transform: rotate(-90deg);
    }

    &:hover {
        color: $purple-blue-bright;

        img {
            content: url('/assets/img/icons/show_menu_hover.svg');
        }
    }
}

.main-container {
    position: relative;
    padding: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    height: 100%;
    width: 100%;
    max-height: calc(100% - 150px);

    app-navigation,
    app-thread {
        height: 100%;
    }

    app-navigation {
        opacity: 0;
        width: 0;
        transition: all 0.3s;

        &.expanded {
            opacity: 1;
            width: 366px;
        }
    }

    .main-content {
        height: 100%;
        flex-grow: 1;
    }
}

@media screen and (max-width: 768px){
    button.nav-button {
        display: none;
    }
    .main-container {
        max-height: inherit;
        padding: 0;
        gap: 0;

        app-navigation.expanded{
            width: 100%;
        }
    }

  }