<button class="nav-button" (click)="onShowNavigation()" [style.left]="!showNav ? '-122px' : '-136px'">
    {{ showNav ? 'Workspace-Menü schließen' : 'Workspace-Menü öffen'}}
    <img class="close" *ngIf="showNav" src="assets/img/icons/show_menu.svg" alt="">
    <img class="open" *ngIf="!showNav" src="assets/img/icons/show_menu.svg" alt="">
</button>
<app-header [mainUser]="currentUser"></app-header>
<div class="main-container">
    <app-navigation [ngClass]="{ 'expanded ': showNav}"></app-navigation>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
    @if (reactionsPickerVisible) {
    <div class="emoji-container" appClickStopPropagation (click)="closeReactionsPicker()">
        <emoji-mart title="Pick your emoji…" (emojiClick)="onAddReaction($event)" emoji="point_up"></emoji-mart>
    </div>
    }

</div>