@import '../../../styles.scss';

section {
    width: 366px;
    height: 750px;
    padding: 32px 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: white;

    .nav-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .img-container {
            display: flex;
            align-items: center;
            gap: 15px;

            span {
                font-size: 24px;
                font-weight: 700;
                line-height: 32.74px;
            }
        }

        button {
            padding: 8px;

            &:hover {
                background-color: $violet-bright;
                border-radius: 30px;
            }
        }
    }

    .nav-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 25px;

        app-expandable-button {
            width: 100%;
        }
    }
}