<section *ngIf="isVisible">
    <div class="nav-header">
        <div class="logo-btn">
            <img src="/assets/img/workspace_logo.svg">
            <span>Devspace</span>
        </div>
        <a (click)="usersService.setMobileView('mainchat')" routerLink="/new" class="new-message-btn">
            <img src="/assets/img/icons/edit_square.svg" >
        </a>
    </div>
    @if(currentUser && users && userChannels) {
    <app-search class="mobile-searchbar" [inHeader]="false" [placeholder]="'Gehe zu...'" [mainUser]="currentUser"
        [users]="usersService.users" [userChannels]="userChannels" />
    }
    <div class="nav-main">
        <app-expandable-button class="channel" title="Channels" icon="workspaces" [showBtn]="true" />
        <app-expandable-button class="direct" title="Direktnachrichten" icon="account_circle" [showBtn]="false" />
    </div>
</section>