<section *ngIf="isVisible">
    <div class="nav-header">
        <div class="logo-btn">
            <img src="/assets/img/workspace_logo.svg">
            <span>Devspace</span>
        </div>
        <a (click)="mobileViewService.setMobileView('mainchat')" routerLink="/new" class="new-message-btn">
            <img src="/assets/img/icons/edit_square.svg" >
        </a>
    </div>
    <app-search class="mobile-searchbar" [inHeader]="false" [placeholder]="'Gehe zu...'" />
    <div class="nav-main">
        <app-expandable-button class="channel" [class.expanded]="expandChannels" (expandedChannels)="setExpandableChannels($event)" [title]="'Channels'" icon="workspaces" [instance]="'channels'" />
        <app-expandable-button class="direct" [class.expanded]="expandUsers" (expandedUsers)="setExpandableUsers($event)" [title]="'Direktnachrichten'" icon="account_circle" [instance]="'users'" />
    </div>
    <a (click)="mobileViewService.setMobileView('mainchat')" routerLink="/new" class="new-message-mobile-btn">
        <div class="new-message-icon">
            <img src="../../../assets/img/icons/new_message.svg">
        </div>
    </a>
</section>