<form class="message-box-container" (ngSubmit)="onSubmit(messageForm)" #messageForm="ngForm">
    <input [placeholder]="getPlaceholder()" [(ngModel)]="data.message" name="messageBox"
    #messageBox="ngModel" required>
    <div class="message-box-footer">
        <!-- TO DO: Implement actions -->
        <div class="message-box-actions">
            <button>
                <span class="material-icons-outlined icon">add</span>
            </button>
            <button>
                <span class="material-icons-outlined">sentiment_satisfied_alt</span>
            </button>
            <button>
                <span class="material-icons-outlined icon">alternate_email</span>
            </button>
        </div>
        <button class="send-btn" type="submit">
            <span class="material-icons-outlined icon">send</span>
        </button>
    </div>
</form>