<div class="message-box-container">
    <input placeholder="Nachricht an #Entwicklerteam" name="message-box">
    <div class="message-box-footer">
        <div class="message-box-actions">
            <button>
                <span class="material-icons-outlined icon">add</span>
            </button>
            <button>
                <span class="material-icons-outlined">sentiment_satisfied_alt</span>
            </button>
            <button>
                <span class="material-icons-outlined icon">alternate_email</span>
            </button>
        </div>
        <button class="send-btn">
            <span class="material-icons-outlined icon">send</span>
        </button>
    </div>
</div>