<div class="message-box-wrapper">
    <form class="message-box-container" (ngSubmit)="onSubmit(messageForm)" #messageForm="ngForm"
        (click)="onContainerClick()">
        <input [placeholder]="getPlaceholder()" [(ngModel)]="message" name="messageBox" autocomplete="off" #messageBox>
        <div class="message-box-footer">
            <div class="message-box-actions">
                <input type="file" #fileInput name="fileInput" style="display: none" ngModel
                    (change)="onFileSelection($event)" accept="image/*,application/pdf">
                <button type="button" (click)="fileInput.click()">
                    <span class="material-icons-outlined icon">add</span>
                </button>
                <button type="button" (click)="onShowEmojiPicker()">
                    <span class="material-icons-outlined">sentiment_satisfied_alt</span>
                </button>
                <button type="button" (click)="toggleMembersList($event)"
                    *ngIf="channel && channel.members.length > 1 && (channel.members[0].uid != channel.members[1].uid)">
                    <span class="material-icons-outlined icon">alternate_email</span>
                </button>
            </div>
            <button class="send-btn black-to-blue-btn" type="submit" [disabled]="loading">
                <span class="material-icons-outlined icon">send</span>
            </button>
        </div>
        <ul class="members-list" *ngIf="channel && showingMembersList">
            @for(member of channel.members; track member) {
            <li (click)="addToMessage(member.name)" title="{{member.name}}">
                <img src="{{member.avatarSrc}}" alt="Avatar">
                <span>{{member.name}}</span>
            </li>
            }
        </ul>
        <p *ngIf="errorMsg" class="error-msg">{{errorMsg}}</p>
    </form>
    <div class="attachment-container" *ngIf="data.attachmentRef">
        <button class="material-icons-outlined" (click)="deleteFile()">close</button>
        @if(data.attachmentSrc.includes('.pdf')) {
        <div class="pdf-icon-wrapper">
            <img src="assets/img/icons/pdf.svg" class="pdf-icon" alt="Anhang" />
        </div>
        } @else {
        <img [src]="data.attachmentSrc" class="img-thumb" alt="Anhang" />
        }
        <p class="file-name"><i>{{data.attachmentName}}</i></p>
    </div>
</div>