@import "../../../styles.scss";

.input-border {
    width: 100%;
    height: 55px;
    border: 1px solid rgba(68, 77, 242, 1);
    border-radius: 30px;
    padding-left: 4px;
    overflow-y: visible;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transform: translate(0, 0);

    .input-wrapper {
        width: calc(100% - 30px);
        height: 70px;
        display: flex;
        align-items: flex-start;
        overflow-x: auto;
        overflow-y: hidden;
        cursor: default !important;
        @include scrollbar();

        .input-container {
            width: 100%;
            height: 54px;
            display: flex;
            align-items: center;
            gap: 10px;

            input {
                flex: 1;
                min-width: 200px;
                height: 100%;
                font-size: 18px;
            }
        }
    }
}

.userListCard {
    display: flex;
    width: 335px;
    max-height: 392px;
    overflow-y: auto;
    @include scrollbar();
    padding: 20px;
    background-color: white;
    position: fixed;
    left: 20px;
    top: 40px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0px 20px 20px 20px;
    flex-direction: column;
    gap: 15px;
    border: 1px solid rgba(173, 176, 217, 1);

    img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        object-fit: cover;
    }

    .userListDetail {
        display: flex;
        width: 100%;
        height: 58px;
        gap: 15px;
        align-items: center;
        padding: 8px 10px;
        border-radius: 30px;

        cursor: pointer;

        span {
            font-size: 18px;
            font-weight: 400;
        }
    }

    .user-list-detail-custom-hover {
        color: $purple-blue-bright;
        background-color: $violet-bright;
    }

    @media screen and (max-height: 920px) {
        max-height: 318px;
    }

    @media screen and (max-height: 800px) {
        max-height: 244px;
    }

    @media screen and (max-height: 640px) {
        max-height: 170px;
    }
}

.hide {
    display: none;
}

.selectedUserInput {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    border-radius: 35px;
    width: 206px;
    height: 40px;
    background-color: rgba(236, 238, 254, 1);
    padding: 4px 20px;
    gap: 15px;
    margin-top: -1px;

    img {
        width: 34px;
        height: 34px;
        border-radius: 100%;
    }

    span {
        font-size: 18px;
        font-weight: 400;
    }

    button {
        background-color: rgba(236, 238, 254, 1);
        border: none;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: black;
        font-size: 18px;
        border-radius: 16px;
        @include transition($duration: 75ms);
        &:hover {
            filter: brightness(0.97);
        }
    }
}


