@import "../../../styles.scss";

.input-border {
    width: 100%;
    height: 55px;
    border: 1px solid rgba(68, 77, 242, 1);
    border-radius: 30px;
    overflow-y: visible;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .input-wrapper {
        width: calc(100% - 30px);
        height: 70px;
        display: flex;
        align-items: flex-start;
        overflow-x: auto;
        overflow-y: hidden;
        @include scrollbar();

        .input-container {
            width: 100%;
            height: 55px;
            display: flex;
            align-items: center;
            gap: 10px;

            input {
                flex: 1;
                min-width: 200px;
                height: 100%;
                font-size: 18px;
            }
        }
    }
}

.userListCard {
    display: flex;
    width: 295px;
    min-height: 171px;
    background-color: white;
    position: fixed;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0px 20px 20px 20px;
    flex-direction: column;
    border: 1px solid rgba(173, 176, 217, 1);

    img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        object-fit: cover;
    }

    .userListDetail {
        display: flex;
        width: 247px;
        height: 58px;
        gap: 15px;
        align-items: center;
        margin-left: 0;
        margin-top: 24px;
        padding: 8px 10px;

        cursor: pointer;

        &:hover {
            color: $purple-blue-bright;
            background-color: $violet-bright;
            border-radius: 30px;
        }

        span {
            font-size: 18px;
            font-weight: 400;
        }
    }
}

.hide {
    display: none;
}

.selectedUserInput {
    display: flex;
    align-items: center;
    border-radius: 35px;
    padding: 5px;
    width: 206px;
    height: 40px;
    background-color: rgba(236, 238, 254, 1);
    padding: 4px 20px;
    gap: 15px;
    margin-top: -7.5px;

    img {
        width: 34px;
        height: 34px;
        border-radius: 100%;
    }

    span {
        font-size: 18px;
        font-weight: 400;
    }

    button {
        background: none;
        border: none;
        cursor: pointer;
        color: black;
        font-size: 18px;
    }
}